[2019-06-25 19:21] pdurbin opened #1 "add setup instructions to README"
When I copied the code from https://github.com/IQSS/miniverse I did not include all the `python manage.py` and related Django commands from the README. These should be tested and added.

[2019-06-26 19:28] sachaj opened #2 "Using Vivo to keep track of and find Dataverses"
Preamble

There is a need to be able to easily find Dataverse implementations with specific installations models, versions, and configurations. Whether to check how a particular feature behaves or to consult policies related to various deposit models a listing of Dataverses would be useful.

Here is the Vivo site:
https://duraspace.org/vivo/

Here is a list of Vivo sites:
https://duraspace.org/reg

[2019-06-27 00:19] pdurbin commented on #2
@sachaj this is neat. It reminds me of a little visualization I did with d3 years ago at https://github.com/IQSS/dataverse-viz that looks like the screenshot below. I was trying to express who is involved in what project at IQSS.

<img width="551" alt="Screen Shot 2019-06-26 at 8 16 23 PM" src="https://user-images.githubusercontent.com/21006/60224192-68d2e200-984f-11e9-8712-bfeba2cd0bf2.png">

I g

[2019-06-27 12:49] sachaj commented on #2
Hi Phil,

Yes! This is very much what I had in mind.

To answer your questions:
1. there  is only one version in French for UQAM, but Vivo itself natively is in English. We at UQAM are working with the Vivo team to finish the i18n-ing of Vivo - I'm not sure exactly where we are or how much is left, I joined the project in mid-stream. We do have a meeting next week on this topic so I'll find out mo

[2019-06-27 17:42] TaniaSchlatter commented on #2
Vivo looks like it would be an interesting way to explore dataverse installation metadata. Thanks for posting, Sacha!

[2019-06-27 19:31] sachaj commented on #2
Hi,
By the way I made a typo, now fixed:
The UQAM site is :
https://expertises.uqam.ca/vis/capabilitymap

and not
https://expertises.uquebec.ca/vis/capabilitymap

The uquebec site is hosted by UQAM, but groups together all health science departments throughout the University of Quebec system.

Sacha

[2019-06-27 20:27] sachaj commented on #2
Just adding a link to the installations personas document that Tania sent to me and Janet.

https://docs.google.com/document/d/1mTaHuulanL3GIbmvu91uabdy5_cMJ5qiKEEAioWPk_0/edit

Sacha

[2019-07-03 18:43] pdurbin opened #3 "What version of Dataverse are the installations on the map running?"
As of this writing there are 46 installations of Dataverse on the map at https://dataverse.org

![Screen Shot 2019-07-03 at 2 34 02 PM](https://user-images.githubusercontent.com/21006/60616517-a7145800-9d9f-11e9-9229-8df6e3ae3e68.png)

Currently there are 17 installations of Dataverse listed at https://dataverse.org/metrics

![Screen Shot 2019-07-03 at 2 35 09 PM](https://user-images.githubusercon

[2019-07-03 18:49] pdurbin commented on #3
Here's the quick and dirty one liner I wrote a while ago for determining the version of Dataverse that is being run by installations on the map:

`curl -s https://services.dataverse.harvard.edu/miniverse/map/installations-json | jq '.installations[].url' -r | while read i; do echo -n "$i "; curl -s $i/api/info/version | jq '.data.version' -r; done`

The problem is that the output is a mess:

https

[2019-07-03 19:49] pdurbin commented on #3
I just wrote a little Python script in pull request #4 that I think is better than the one liner above.

The "True" and "False" in the output below indicates if the installation is on https://dataverse.org/metrics

https://dvn.library.ubc.ca UNKNOWN False
https://dataverse.ada.edu.au 4.6.1 False
https://data.aussda.at 4.6.2 False
https://dataverse.bhp.org.bw 4.9.4 False
https://catalogues.cdsp.sci

[2019-07-05 14:16] donsizemore commented on #3
@pdurbin I just added the hosts from http://irclog.iq.harvard.edu/dataverse/2019-07-03#i_99836 to metrics.dataverse.org. Totals jumped!

[2019-07-10 12:50] pdurbin opened #5 "Dataverse installations as a tabular file (CSV or TSV)"
Dataverse installations are available JSON format from https://services.dataverse.harvard.edu/miniverse/map/installations-json

We should write a script to convert the JSON into a TSV or CSV file. (I prefer TSV.)

Here's how the data looks in a Google Spreadsheet:

<img width="1667" alt="Screen Shot 2019-07-10 at 8 49 34 AM" src="https://user-images.githubusercontent.com/21006/60970342-c35c4b80-a2

[2019-07-10 12:56] pdurbin commented on #5
I just created pull request #6 with a small Python script.

Attached is an example TSV file created from it (with ".txt" added to the file name so I can upload it here).

[dataverse-installations.tsv.txt](https://github.com/IQSS/dataverse-installations/files/3377544/dataverse-installations.tsv.txt)

[2019-07-10 13:01] pdurbin commented on #5
One of the fun things about having Dataverse installations in tabular format is that you can make a map out of the data using WorldMap. Here are some screenshots:

<img width="1326" alt="Screen Shot 2019-07-10 at 8 59 38 AM" src="https://user-images.githubusercontent.com/21006/60971004-35816000-a2f1-11e9-9d23-913c9bb6af7a.png">
<img width="1326" alt="Screen Shot 2019-07-10 at 8 59 56 AM" src="http

[2019-07-12 02:42] pdurbin opened #7 "launch date for each Dataverse installation"
When I see graphs like the following from http://slides.com/mercecrosas/dataversecommunity2018#/5 ...

<img width="620" alt="Screen Shot 2019-07-11 at 10 42 05 PM" src="https://user-images.githubusercontent.com/21006/61098477-20a9e700-a42d-11e9-90c0-fabb7b0337ae.png">

... I think, "This is a great graph but it would be nice to have the actual launch date of each of the Dataverse installations. We

[2019-07-24 09:54] janetm commented on #2
hi All
Thanks Sacha, Vivo looks to have potential in that it can visualise relationships, and store data for persons, and organisations (installations).  Now we just need to decide on the 'Installation Persona'  metadata fields.  I will upload my original thoughts on the google link above?

[2019-07-24 18:50] sachaj commented on #2
Hi Janet, yes there is work to be done on deciding on metadata fields among other issues. I am still trying to determine the best way to provide a test instance of a Vivo for our purposes, on this I may have more information later this summer as time and vacation absences across departments permit.

[2019-07-24 21:30] janetm commented on #2
Hi Sacha
I will put up my notes today, but basing ideas on the notes Tania uploaded can be a start. I recall Amber had some ideas too.  This is my first full week in the office since ADA hosted the IASSIST conference in Sydney at the end of May so have a lot of catching up.  Still v excited though!

I am also setting up an Archivematica instance on a test VM so maybe I will ask about a vivo instan

[2019-09-06 14:08] pdurbin opened #8 "Add https://dataverse.library.dal.ca to dataverse.org/metrics"

[2019-09-06 14:08] pdurbin opened #9 "Add https://dataverse.ird.fr to dataverse.org/metrics"

[2019-09-06 14:10] #8 closed

[2019-09-06 14:10] #9 closed

[2019-09-16 11:29] pdurbin commented on #1
I don't want to say this is done but I did add a quickstart to the readme the other day: https://github.com/IQSS/dataverse-installations#quickstart

[2019-09-16 15:58] pdurbin opened #10 "Add http://datos.pucp.edu.pe to dataverse.org/metrics"
http://datos.pucp.edu.pe

[2019-09-16 18:16] donsizemore commented on #10
Done.

[2019-09-16 18:16] #10 closed

[2019-09-16 18:33] pdurbin commented on #10
Thanks, @donsizemore !

[2019-10-02 21:11] pdurbin commented on #7
In IRC today I announced a new spreadsheet I'm calling "Crowdsourced information about Dataverse Installations": https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo/edit?usp=sharing

The first question I asked was this, "please add your launch_year, the year you started with Dataverse (fresh or migration from some other system)".

Here's the conversation: http://irc

[2019-10-07 18:54] donsizemore opened #11 "update UNC Dataverse information"
per http://irclog.iq.harvard.edu/dataverse/2019-10-07#i_108172

[2019-10-09 13:15] pdurbin commented on #11
Closing, fixed by pull request #12

Thanks, @donsizemore ! Now I'm emailing with @philippconzett to see if I can help him make a pull request. I need to document the process, obviously! :smile:

[2019-10-09 13:15] #11 closed

[2019-10-09 13:18] pdurbin commented on #1
Everything changed in this repo recently when I switched the architecture from database/Django to a pure client side application pulling data from a JSON file.

Yesterday @donsizemore made a pull request to update information in the map.

I still need to document in the README what data comes from which Google spreadsheet or which external JSON file.

And I need to document how to run the Python s

[2019-10-09 13:31] pdurbin commented on #1
In 721deae I just started a list of where the data comes from.

[2019-10-22 14:38] pdurbin opened #14 "Add darus.uni-stuttgart.de and dataverse.theacss.org to the map"
Two new installations have been added to the map at dataverse.org:

- https://darus.uni-stuttgart.de
- https://dataverse.theacss.org

Here's now that map looks now:

![Screen Shot 2019-10-22 at 10 27 06 AM](https://user-images.githubusercontent.com/21006/67296658-c520d800-f4b6-11e9-83c2-155bf2f1cf17.png)

Both installations should be added to the new map, which only has 48 installations and looks

[2019-10-22 14:59] pdurbin commented on #14
I just put a call out to the Dataverse community to help with this issue: https://groups.google.com/d/msg/dataverse-community/xFRXZ7BAuQA/Bve1-e5ACgAJ

[2019-10-23 13:39] shlake commented on #14
@pdurbin I'll help with this one. Will need some help to get started. I have Python3 installed.

[2019-10-23 13:43] pdurbin commented on #14
@shlake hooray! The first step is to go to https://github.com/IQSS/dataverse-installations and request edit access to the following spreadsheets:

- spreadsheet maintained by IQSS
- crowdsourced spreadsheet

[2019-10-23 17:10] pdurbin commented on #14
@shlake you seem to have access now. Thanks! Are you comfortable with cloning this repo? The alternative is to download it as a zip if that's easier.

[2019-10-23 17:17] shlake commented on #14
I've cloned this repo. Getting familiar with what's in it and how it works. I'll look over the other issues too.

[2019-10-23 17:49] shlake commented on #14
@pdurbin new map has been created. Will write up documentation later, but am making a pull request the new data.json file

[2019-10-23 19:10] #14 closed

[2019-10-23 19:15] pdurbin commented on #14
@shlake I just merged your pull request #15 and I'd like to thank you very much for making it!

Both installations are now at https://iqss.github.io/dataverse-installations/ (screenshots below):

![Screen Shot 2019-10-23 at 3 12 30 PM](https://user-images.githubusercontent.com/21006/67426289-c2ea7680-f5a7-11e9-9075-ddaca43577a9.png)

![Screen Shot 2019-10-23 at 3 13 46 PM](https://user-images.gith

[2019-10-24 09:48] pdurbin opened #16 "capture ideas from the Dataverse Installation Personas poster by @janetm"
This week @janetm presented a poster called Dataverse 'Installation Personas' at https://conference.eresearch.edu.au/2019-poster-eposter-presentations/ and here's a screenshot:

![Janet-McDougall-eRA2019_McDougall_Janet](https://user-images.githubusercontent.com/21006/67472703-7e9abd00-f61f-11e9-82a3-9176f58cc1e9.png)

For a high resolution PDF: https://conference.eresearch.edu.au/wp-content/uploa

[2019-10-24 17:45] mercecrosas commented on #16
The poster is wonderful @janetm. Very useful!

I would add a few other things that could characterize a Dataverse persona:
- Research domain: (All; social science, structural biology, etc)
- Support website (an associated website about that Dataverse installation)
- I'm not sure what "Scope" means here, but it would be useful to indicate whether is a consortium of universities or organizations, or

[2019-10-24 21:20] janetm commented on #16
Hi Mercè
Great suggestions!  everyone keep them coming.  We are trying to build as many characteristics as possible to describe ‘all’ installation personas.

At the conference this week we had a few queries about Dataverse from bioinformatics groups, and if we’d had our installation persona ‘interface’ (still scoping) I could have easily identified an installation they could have looked at, with s

[2019-10-24 23:20] pdurbin commented on #16
Yes, great suggestions, @mercecrosas

For this one...

... I'm already capturing this as `about_url` in `data.json`. Here's a one liner to show all these great "about" websites that have been created:

`cat data/data.json | jq '.installations[].about_url' -r | grep -v ^null | sort | while read i; do echo "- $i"; done;`

- http://aussda.at
- http://data.tdl.org/about
- http://guides.scholarsportal.

[2019-10-25 01:40] janetm commented on #16
hi All
While we're on this conversation, one tool we are going to test as an 'Installation Persona Interface" is VIVO.  Sacha (Uni Montreal Quebec) has an instance approved for testing, once we have built sufficient characteristics.
Using Vivo to keep track of and find Dataverses:
https://github.com/IQSS/dataverse-installations/issues/2

thanks
Janet
________________________________
From: Philip D

[2019-10-25 13:28] shlake opened #17 "Documentation: Installation Guides Add More Info on Getting Installations on the Map"
The map has instructions:

To add your installation to the map, please follow the [instructions in the Dataverse documentation.](http://guides.dataverse.org/en/latest/installation/config.html#putting-your-dataverse-installation-on-the-map-at-dataverse-org)

I am proposing that the instructions in the installation doc be more instructive, such as go to the google doc and add your institutions's inf

[2019-10-25 13:32] pdurbin commented on #17
@shlake yes! Exactly! Instead of linking to the guides, how do you feel about writing something in this repo that we can link to. You an pick the format. I'm a fan of Markdown but I'm ok with whatever you choose. Would you like to pop into http://chat.dataverse.org sometime to talk about this? Or we could do a phone call or video chat if that's easier.

[2019-10-25 13:32] shlake opened #18 "Proposing Making Installation Info docs (both) be editable by all"
Per issue #17
I suggest that the google spreadsheets

- [spreadsheet maintained by IQSS](https://docs.google.com/spreadsheets/d/1l2R9D1FQy88qVzg2bI6L1LgplmM2l7pnMI80jdiz4fk/edit?usp=sharing)
- [crowdsourced spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo/edit#gid=0)

Both be editable by all, or at least the crowsdsourced one.

The info on the maps d

[2019-10-25 13:35] pdurbin commented on #18
@shlake yes! You've got it exactly right. The data.json file is regenerated by the Python script when you run it, pulling from multiple data sources. There are more than the two above. Are you comfortable looking at the script to see the rest? Or should I document them in the README?

[2019-10-25 13:41] shlake commented on #18
@pdurbin I don't mind looking at the script.
I was also thinking if both files were made editable, then why have two files? (maybe another issue since the code would have to change?)

I can certainly add info on inputs/outputs to the README. I'm geeky about documentation ;-)

[2019-10-25 13:47] pdurbin commented on #18
@shlake well, I like your idea of only making the "crowdsourced" spreadsheet publicly editable for now. Is that ok. Do you have the right access to make that change? Eventually I want many of the data sources (multiple spreadsheets and a JSON feed) to melt away.

The reason I have so few columns in the "crowdsourced" spreadsheet is that I'd like us to fill in the fields for launch year (#7) and an

[2019-10-25 15:32] pdurbin commented on #1
@shlake thank you SO MUCH for letting me do a big brain dump just now about dataverse-installations! As we discussed, I just created a column for you on my board and moved this issue to the very top: https://github.com/orgs/IQSS/projects/3#column-6923468

Also as we discussed, you are now a member of @IQSS/dataverse-installations-admin

![Screen Shot 2019-10-25 at 11 26 59 AM](https://user-images.

[2019-10-25 22:03] poikilotherm opened #19 "Convert data/data.json to geoJSON"
Leaflet and many others support the usage of [GeoJSON standard file format](https://geojson.org/).

Leaflet [supports GeoJSON](https://leafletjs.com/reference-1.0.3.html#geojson) and allows for functions on loading each feature with `onEachFeature()`. This would allow refactoring the popup composition into function, so the code gets more readable.

See https://gis.stackexchange.com/a/229743 for ex

[2019-10-27 21:55] poikilotherm commented on #19
GitHub has builtin preview for .geojson files. See https://github.blog/2013-06-13-there-s-a-map-for-that/

[2019-10-27 22:01] poikilotherm commented on #19
And I found this very nice tool with GitHub support: http://geojson.io
Maybe this is helpfull with making the data maintainable by the community?

[2019-10-28 14:46] pdurbin commented on #19
Related: For mapped datasets, expose WorldMap file export links: KML, geojson, geotiff, png, etc. https://github.com/IQSS/dataverse/issues/1404

![Screen Shot 2019-10-28 at 10 45 12 AM](https://user-images.githubusercontent.com/21006/67688377-1f66e080-f970-11e9-8444-61cfb2ae0af6.png)
![Screen Shot 2019-10-28 at 10 45 32 AM](https://user-images.githubusercontent.com/21006/67688378-1f66e080-f970-11e

[2019-10-28 17:40] shlake commented on #18
@pdurbin I was able to make the Crowdsourced spreadsheet editable by "ALL".
Will keep maintained by IQSS as is, not editable by all, but editable by those who ask (and we know 😄)

[2019-10-28 17:40] #18 closed

[2019-10-28 17:44] shlake commented on #7
@pdurbin I'm going to pester the list (just once - not keep doing it) AND will send targeted emails to folks we know.

Once we figure out ALL the bits of info we need, then I think we can declare a census to get what we don't have.

[2019-10-28 17:44] pdurbin commented on #18
@shlake cool. I hope nobody trashes it! At least we can re-create it, if necessary, from data.json. 😄

[2019-10-31 11:27] pdurbin opened #22 "update dataverse.ird.fr"
Thanks to @tcoupin some new data is coming in for https://dataverse.ird.fr

[code]

@tcoupin are you interested in running the Python script in this repo and then creating a pull request to update the map?

[2019-10-31 13:23] pdurbin opened #23 "datasets.iisg.amsterdam seems to be the new datasets.socialhistory.org"
I just came across https://datasets.iisg.amsterdam at https://twitter.com/Leolucassen/status/1189871027439968256

http://datasets.socialhistory.org now redirects to https://datasets.iisg.amsterdam

Perhaps we should consider updating the hostname everywhere, in the spreadsheets, etc.

[2019-10-31 20:05] #22 closed

[2019-11-01 11:21] pdurbin commented on #1
I just left a brain dump about this at https://github.com/IQSS/dataverse-installations/pull/25#issuecomment-548754381

[2019-11-01 13:07] pdurbin opened #26 "document how to get the "Project board API URL""
I just added https://github.com/orgs/IQSS/projects/20 for https://dataverse.ird.fr to "Project board under IQSS" in the [spreadsheet maintained by IQSS](https://docs.google.com/spreadsheets/d/1l2R9D1FQy88qVzg2bI6L1LgplmM2l7pnMI80jdiz4fk/edit?usp=sharing) but I think I'm probably the only one who knows how to get the "Project board API URL" (highlighted below).

![Screen Shot 2019-11-01 at 8 55 21

[2019-11-07 20:41] shlake commented on #1
Will work on README tomorrow (11/8). I've been thinking about all the info that needs to go on the README and that it might be better to have a short "how to install" on README and put details as to "sources of truth" and other "tricks" in the wiki (and of course link the wiki from the README).

So I have been "organizing" my thoughts.

[2019-11-07 21:08] pdurbin commented on #1
@shlake sure! I'm not it the habit of using the wiki built into GitHub but plenty of projects do! Sounds good! Thanks!

[2019-11-12 14:11] #1 closed

[2019-11-12 19:54] pdurbin opened #28 "Add datarepositorium.sdum.uminho.pt to the map"
https://datarepositorium.sdum.uminho.pt was just added to the old map, bringing the total number of installations to 51.

[2019-11-13 08:04] poikilotherm opened #29 "Integrate community call data?"
As the community calls are now happening at two different times, could it be an interesting option to add best fit call-in times to installations? Or provide timezones and a popup when both calls are happening in that timezone?

That might be a nice addition to https://dataverse.org/community-calls

[2019-11-14 12:48] pdurbin opened #30 "Add dataverse.arch.be to the map"
https://dataverse.arch.be should be added to the new map once it has been added to the old map: https://help.hmdc.harvard.edu/Ticket/Display.html?id=283158

See also discussion at http://irclog.iq.harvard.edu/dataverse/2019-11-14#i_112429

[2019-11-14 15:02] shlake commented on #28
@pdurbin to add this to the new map, I need to add an entry for it on the "IQSS maintained" spreadsheet right? It's not there.

No problem in me adding it, just want to make sure that has to be done manually, vs waiting for something from the old map.

[2019-11-14 15:11] pdurbin commented on #28
@shlake right, I believe it needs to be added to both spreadsheets. We should document the process. I'll go ahead and assign this to you but if you want me to give you a ring and walk though it, please let me know!

[2019-11-14 15:40] shlake commented on #28
Datarepositorium is on the map!

[2019-11-14 15:40] #28 closed

[2019-11-14 16:03] pdurbin commented on #28
@shlake looks great! Thanks!!! 🎉 🎉 🎉

![Screen Shot 2019-11-14 at 11 03 12 AM](https://user-images.githubusercontent.com/21006/68873948-68d46100-06ce-11ea-9bbd-561a197892f4.png)

[2019-11-19 12:08] pdurbin commented on #23
I just noticed @lwo commenting on a different issue. He has been a great contributor in the past and maybe we can get him helping with this new repo. 😄

[2019-11-19 14:02] lwo commented on #23
Hello @pdurbin, long time. Yes, there seems to be one reference to datasets.socialhistory.org in this folder. Let me make a PR

[2019-11-19 14:17] pdurbin commented on #23
@lwo hi! Actually, before you do, I need to ping @jggautier to update the old map. We're in transition so the process is a little confusing. Sorry! What you **can** do now is review and revise the spreadsheets mentioned in the README! 😄

[2019-11-19 14:30] jggautier commented on #23
Okay, the URL (and version number) in the database behind the current map on dataverse.org is updated.

[2019-11-19 15:19] pdurbin commented on #23
@jggautier thanks!

@shlake do you might updating the spreadsheets?

Then maybe @lwo can run the Python script and make a pull request?

[2019-11-19 16:01] shlake commented on #23
@pdurbin I have updated the spreadsheets.
@lwo do you want to run the Python script and make a pull request? The instructions are in the [README file](https://github.com/IQSS/dataverse-installations/blob/master/README.md) as well as the [CONTRIBUTING file](https://github.com/IQSS/dataverse-installations/blob/master/CONTRIBUTING.md)

Let me know if the info in those two files need clarification or

[2019-11-20 12:24] pdurbin commented on #23
@lwo if you take a look at https://github.com/IQSS/dataverse-installations/blob/master/update-data.py you'll see that the way the script works is that it pulls down data from multiple sources to update `data/data.json`.

Here are the main two spreadsheets that are used but @shlake and I have a plan to move as much information as possible into the "crowdsourced" one:

- https://docs.google.com/spre

[2019-11-20 18:13] lwo commented on #23
Hmm... something breaks:

[code]

In my debugger it is when it reaches hostname: 'repositoriodedados.unifesp.br'
but the sheets look ok to me...

[2019-11-20 18:20] shlake commented on #23
@lwo try now. The IQSS spreadsheet https://docs.google.com/spreadsheets/d/1l2R9D1FQy88qVzg2bI6L1LgplmM2l7pnMI80jdiz4fk/edit?usp=sharing
needs to have the country field filled in. I just did that, so it should work now.

[2019-11-20 18:40] pdurbin commented on #23
I'm happy to jump in and troubleshoot. I wrote that hacky Python script. 😄 Lemme know!

[2019-11-20 19:05] shlake commented on #23
@pdurbin looks like debugging in needed... but Would the fact that the IQSS sheet has 51 entries and the Harvard miniverse https://services.dataverse.harvard.edu/miniverse/map/installations-json version has 53?

The python fails on this site (in miniverse) https://repositoriodedados.unifesp.br/ which isn't in either of the crowdsource sheets

[2019-11-20 19:19] pdurbin opened #31 "add repositoriodedados.unifesp.br to the map"
https://repositoriodedados.unifesp.br

[2019-11-20 19:20] pdurbin commented on #23
Good catch. Let's work on #31 to add that new installation in Brazil first and then circle back to this issue.

[2019-11-20 19:24] #31 closed

[2019-11-20 19:25] shlake commented on #31
Added to IQSS and crowdsourced spreadsheet

[2019-11-20 19:26] shlake commented on #23
@lwo it is working now if you want to test the run/pull request.

[2019-11-20 21:13] #23 closed

[2019-11-20 21:25] pdurbin commented on #30
https://dataverse.arch.be is technically already on the map at https://iqss.github.io/dataverse-installations/ already now that pull request #32 has been merged:

![Screen Shot 2019-11-20 at 4 20 21 PM](https://user-images.githubusercontent.com/21006/69279180-d3473e80-0bb1-11ea-9a82-824e163a173a.png)

This puts the new map one installation head of the old map.

The reason for this is that the Pyth

[2019-11-20 21:28] shlake commented on #30
But it's not in our crowdsourced sheets.

I was going to add it to our sheets and then close this.

[2019-11-20 21:32] pdurbin commented on #30
@shlake yes, you're absolutely right. That's fine with me too. I'm just saying that the new map will be ahead of the old map for a bit. I'm fine with that too. Eventually we want to retire the old map. That's what https://github.com/IQSS/dataverse.org/issues/66 is about. 😄

[2019-11-21 00:39] jggautier commented on #30
@youssefOuahalou and I agreed it wouldn't be added to the map until we heard back from them, so I entered the information and marked it as inactive for now.

[2019-11-21 01:06] pdurbin commented on #30
@jggautier thanks. It sounds like for this repo we should either:

- honor "false" for "is_active" for the old map
- implement some sort of skip list for installation that want to start entering data in the old map or the new spreadsheets but don't want to be shown on the map yet

Again, the first idea above would be probably a temporary measure until we move off the old map as part of https://git

[2019-11-21 09:14] youssefOuahalou commented on #30
thank you very much to all :1st_place_medal: (:

[2019-12-05 12:09] LauraHuisintveld opened #33 "Update information on the map for DataverseNL"
I have three changes for DataverseNL on the map.
1. The harvesting set should be 'uvt_datasets' instead of 'tilburg_oai'.
2. I changed the description in the spreadsheet into: 'DataverseNL is a data repository hosted by DANS. Researchers associated with the DataverseNL partners (Several universities, higher education and research institutes) are able to deposit data. '
3. Our location coordinates

[2019-12-05 12:48] pdurbin commented on #33
@LauraHuisintveld thanks for opening this issue!

@jggautier can you please update the lat/long? (Or teach me how to do it.)

Once all the changes are in place we could see if @LauraHuisintveld is interested in running the Python script and making a pull request. :smile:

[2019-12-05 16:50] jggautier commented on #33
Made PR #34 for these changes.

[2019-12-05 17:15] #33 closed

[2019-12-05 17:25] pdurbin commented on #33
@LauraHuisintveld sorry, we went ahead without you. Now that pull request #34 has been made, here's how the map looks:

![Screen Shot 2019-12-05 at 12 23 22 PM](https://user-images.githubusercontent.com/21006/70258379-2694c180-175a-11ea-8a18-680a108493d4.png)

If you want to make a pull request in the future, please just let us know! I just coached @jggautier through the process and he made it loo

[2019-12-05 18:28] pdurbin opened #35 "respect `is_active` from miniverse"
I just spoke with @jggautier about how `update-data.py` does not respect the `is_active` boolean from https://services.dataverse.harvard.edu/miniverse/map/installations-json

Sometimes he'll stage a new installation on the old map and and make sure `is_active` is false until he's ready for the installation to appear. Right now the installation at https://dataverse.arch.be is in this state:

![Scre

[2019-12-05 18:36] pdurbin commented on #30
I just made pull request #36 to start respecting "is_active".

[2019-12-05 19:05] #35 closed

[2019-12-05 19:07] shlake commented on #30
@pdurbin so this can be closed since it will appear on this new map when  "is_active" = TRUE?

[2019-12-05 20:01] pdurbin commented on #30
@shlake well, the current problem is that https://dataverse.arch.be is already on the new map. Now that you merged pull request #36 we should be able to run the python script to remove this installation from the new map until "is_active" becomes true.

I'll go make a pull request for this. 😄

[2019-12-06 15:13] #30 closed

[2019-12-06 15:18] shlake opened #38 "Remove dataverse.arch.be from the map"
Now that @pdurbin has included code to read "is_active" from main installation file, see #35

the installation script needs to be run to remove it from "dataverse-installations"

@shlake will do

[2019-12-06 15:27] pdurbin commented on #38
@shlake sorry for the confusion! This is done already because pull request #37 has been merged. Here's a screenshot of "files changed" where we can see that dataverse.arch.be was removed:

<img width="1042" alt="Screen Shot 2019-12-06 at 10 25 52 AM" src="https://user-images.githubusercontent.com/21006/70334167-e6454a00-1812-11ea-9913-5d980ea6ceea.png">

[2019-12-06 15:29] shlake commented on #38
Thanks. @pdurbin when I first looked at the map, it was still there. I have to remember that github takes awhile to update its web pages.

Will close.

[2019-12-06 15:29] #38 closed

[2019-12-06 15:33] pdurbin commented on #38
Yeah, in my experienced it's pretty quick... usually less than two minutes, I'd say. But you're right, it's not immediate.

[2019-12-06 16:53] pdurbin commented on #17
@shlake hi! I forget what we decided back when last had a phone call? Something about a wiki? Should this issue be assigned to you? Or do you want me to add more to the README? The good news is that despite the lack of good documentation, we've been able to successfully add installations to the map. 😄 It would be nice to make the process even more clear, especially since the plan is for the proces

[2019-12-06 17:10] shlake commented on #17
@pdurbin After working on the readme and Contributing docs, I think doing a wiki is overkill. This should be "easy", I think it is, as long as all the parts are documented, which are almost there.

Yes, I'll add more to the README, knowing that processes will change? I'll re-look at what needs to be added.

[2019-12-06 17:20] pdurbin commented on #17
@shlake famous last words. 😄

Ok! I assigned it to you. Thanks! Please let me know if I can help at all. Yes, the process will change as we work toward shutting down the miniverse server for https://github.com/IQSS/dataverse.org/issues/66 so it wouldn't hurt to mention that change is coming in the README (encourage people to check back or whatever).

@jggautier heads up that I should have pointed

[2019-12-06 18:19] pdurbin commented on #7
I just made a couple pull requests to help try to make it more apparent that some launch years are missing.

## Pull request #39 - add launch year to table

![70338886-b9e1fb80-181b-11ea-9430-8382a83c569d](https://user-images.githubusercontent.com/21006/70345841-ef421580-182a-11ea-85b2-42ad6d833361.png)

## Pull request #40 - add script to convert data.json to a TSV file

![70345238-8e660d80-1829-

[2019-12-06 18:21] pdurbin commented on #5
I reopened this issue because the previous script operated against JSON from miniverse which will be retired as part of https://github.com/IQSS/dataverse.org/issues/66

In pull request #40 I'm suggesting a new script that operates against the "data.json" file in this repo. Lots of screenshots in that pull request for anyone who's interested. 😄

[2019-12-09 18:44] #5 closed

[2019-12-09 18:52] shlake opened #41 "Document json2tsv.py Script"
See @pdurbin notes in pull request #40 for content for README file.

[2019-12-18 21:04] pdurbin opened #42 "add dadosabertos.rnp.br"
http://dadosabertos.rnp.br has been added to the old map and should be added to the new map as well.

[2019-12-18 21:57] pdurbin opened #43 "hard to know when the old map has a new installation"
Yesterday in the community call it was mentioned that a new installation was add to the map (the old map), bringing the total to 53. It turns out it was dadosabertos.rnp.br and I created #42 about this, but it would be nice if we could just run our update script and have it tell us which installation was added to the old map.

[2019-12-19 21:23] pdurbin opened #45 "Which installations have a board?"
I want a script that gives output like this:

- ADA Dataverse: https://github.com/orgs/IQSS/projects/17
- Catalogues (CDSP): https://github.com/orgs/IQSS/projects/12
- Data Inra: https://github.com/orgs/IQSS/projects/15
- Data Suds: https://github.com/orgs/IQSS/projects/20
- DataverseNO: https://github.com/orgs/IQSS/projects/14
- Harvard Dataverse: https://github.com/orgs/IQSS/projects/19
- Libra

[2019-12-20 21:21] jggautier commented on #43
What if when people request to be on the map, anyone who gets the request, including me, can ask the Dataverse repository admin to could fill out a Google form that asks for the repository name, description, location and launch year. That form would populate [the spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo) that this script is pulling data from.

[2020-01-03 15:05] pdurbin commented on #38
When we do add this installations to the map, we should be sure to include its new board: https://github.com/orgs/IQSS/projects/21

[2020-01-03 20:43] pdurbin commented on #43
@jggautier well, technically, the script pulls from three spreadsheets right now.

I'm not opposed to a Google form, but maybe we should wait until we get it add down to one spreadsheet?

My proposed short term solution is pull request #44 which prints out a note to the person running the script like this:

[code]

[2020-01-08 11:34] pdurbin commented on #26
I created pull request #47 to address this issue.

[2020-01-09 20:23] skasberger commented on #3
There is a function in pyDataverse, which retrieves the Dataverse build version. This could be used, to automatize the version collection mentioned in the december community call.

https://github.com/AUSSDA/pyDataverse/blob/master/src/pyDataverse/api.py#L1038

[2020-01-14 16:39] pdurbin commented on #42
As I mentioned in standup, when we switched https://dataverse.org from the old miniverse map to the new leaflet map we lost an installation in Brazil ( http://dadosabertos.rnp.br ), dropping from 53 to 52.

I know that @shlake and @jggautier and others have updated the data.json file in this repo before by running the Python script but @djbrooke would like to give it a try so please let him pick u

[2020-01-28 14:23] ppdaz26 opened #49 "add uclouvain site"
Hi,
Could you add our dataverse installation for "Université catholique de Louvain" - UCLouvain ?

Regards,

Patrick

Installation hostname: dataverse.uclouvain.be
Builtin login : yes
Shibboleth login: yes
Country : Belgium
Continent: Europe
DOI authority: 10.14428
GDCC member: no

[2020-01-28 15:43] jggautier commented on #49
The logo (below), Dataverse version version, and lat/long have been added to miniverse

![UCLouvain-46x46](https://user-images.githubusercontent.com/18374574/73279255-d9adf400-41ba-11ea-8401-b6fdc18e451a.png)

[2020-01-29 22:26] pdurbin commented on #49
Since #42 is already in the sprint I suppose we should add work on this one at the same time.

[2020-01-30 18:57] djbrooke commented on #42
@jggautier @pdurbin @shlake I took a quick look at the docs and I could probably figure it out but I want to better understand the workflow first. Does all of this process just serve to update the https://github.com/IQSS/dataverse-installations/blob/master/data/data.json file which I assume powers the map? If that's the case, why not just make PRs directly against that file?

[2020-01-31 00:02] pdurbin opened #50 "Document the workflow of updating the map and list of installations"
This comment from https://github.com/IQSS/dataverse-installations/issues/42#issuecomment-580402060 indicates that the workflow should be documented.

"I took a quick look at the docs and I could probably figure it out but I want to better understand the workflow first. Does all of this process just serve to update the https://github.com/IQSS/dataverse-installations/blob/master/data/data.json file

[2020-01-31 00:03] pdurbin commented on #42
@djbrooke sounds like we should document the workflow. I just created an issue for this: #50.

[2020-02-03 16:26] djbrooke commented on #42
I worked on this a little on Friday and wasn't able to get it going, and I have a busy week and I'm not able to work on this. :( Someone else should pick it up if they are interested and have capacity.

[2020-02-03 19:12] jggautier commented on #42
This installation is added to the old map (the miniverse database) but I've marked it inactive because I'm waiting to hear back from the admin, who said he'll email me when he's ready (https://help.hmdc.harvard.edu/Ticket/Display.html?id=283158). And [the installation home page](https://dataverse.arch.be/) still says it's a test.

The way things are set up, we need to know when an installation is

[2020-02-04 12:16] pdurbin commented on #42
@donsizemore I think @shlake is at an NIH meeting. Do you have capacity to work on this and #49?

[2020-02-04 12:19] pdurbin commented on #42
@tcoupin or @lwo you are also welcome to help with this and #49 if you'd like. I **think** you all have access to update the spreadsheets linked from the README. If not, please feel free to request edit access! 😄

[2020-02-04 13:34] shlake commented on #42
@pdurbin I can try to fix this. Sorry I haven't been much help lately. I'm at NIH next week.

[2020-02-04 13:37] pdurbin commented on #42
@shlake thank you! Please let me know if you need anything! I'll be in chat, etc.

[2020-02-04 13:41] shlake commented on #42
@pdurbin there are 3 pull requests that I will look at and merge and then start on this one and #49

[2020-02-04 13:44] #26 closed

[2020-02-04 13:45] pdurbin commented on #42
@shlake perfect! Thank you!!

[2020-02-04 13:47] #43 closed

[2020-02-04 13:48] #45 closed

[2020-02-04 14:48] #49 closed

[2020-02-04 15:09] shlake commented on #42
@jggautier the script is now working, problem was with the uclovain site. It was on the crowd source doc & old map, BUT not on the IQSS spreadsheet. Once I closed #49 things worked.

@pdurbin BUT am not adding dadosabertos.rnp.br (this issue) just yet. That URL does not resolve.

[2020-02-04 15:12] shlake opened #52 "Duplicate Institutions in Crowdsourced file"
This site: https://repositoriodedados.unifesp.br/
has two entries in crowdsourced spreadsheet: https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo/edit#gid=0

Each with different descriptions and launch year.

Need to resolve.

[2020-02-04 15:23] pdurbin commented on #42
@shlake huh. You're right, that installation seems to be down (I'll take you off this issue):

![Screen Shot 2020-02-04 at 10 21 51 AM](https://user-images.githubusercontent.com/21006/73758119-361f8f00-4738-11ea-9aff-3f9e99100388.png)

@jggautier I'm having trouble finding an RT ticket for http://dadosabertos.rnp.br . Can you please take a look?

[2020-02-04 17:46] pdurbin commented on #42
@shlake two things.

http://dadosabertos.rnp.br is resolving now. It looks like they're working on getting Dataverse running again. We can give them time to work on this.

Meanwhile, it looks like you've already added http://dadosabertos.rnp.br in 51cc067 which is great.

![Screen Shot 2020-02-04 at 12 42 14 PM](https://user-images.githubusercontent.com/21006/73771153-c9ae8b00-474b-11ea-8e48-7f63f

[2020-02-04 18:18] pdurbin commented on #42
@shlake I just created pull request #53

If you're happy with it, please feel free to merge it. Thanks!

[2020-02-05 11:09] #42 closed

[2020-02-21 17:01] poikilotherm opened #55 "Add Jülich DATA to the map"
We're getting there... Being no. 55 :smile:

I already added us to https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo

How shall I add the other data? The contribution guide didn't enlighten me much :neutral_face:

[2020-02-25 19:46] pdurbin commented on #55
Hooray! 🎉

The first step is to add it to https://services.dataverse.harvard.edu/miniverse/map/installations-json (the old map) which is being tracked in https://help.hmdc.harvard.edu/Ticket/Display.html?id=286824 (the ticket you opened, thanks!).

@poikilotherm can you please go ahead and request edit access to https://docs.google.com/spreadsheets/d/1l2R9D1FQy88qVzg2bI6L1LgplmM2l7pnMI80jdiz4fk/ed

[2020-02-25 20:44] poikilotherm commented on #55
Both done. :smile:

[2020-02-25 21:03] pdurbin commented on #55
@poikilotherm cool. While we wait for the old map to get updated, do you feel like running `python3 update-data.py` to make a pull request to pick up some unrelated changes?

[2020-02-26 01:33] jggautier commented on #55
The database behind the old map is updated with info about Jülich DATA (lat/long, logo, etc)

[2020-02-26 01:59] pdurbin commented on #55
@jggautier thanks! It's weird, I see it in the old map at https://services.dataverse.harvard.edu/miniverse/map/ but not in the JSON output:

`$ curl -s https://services.dataverse.harvard.edu/miniverse/map/installations-json | jq . | fgrep .de`

[code]

[2020-02-26 03:24] pdurbin commented on #55
@jggautier please disregard last comment. Jülich DATA is now in https://services.dataverse.harvard.edu/miniverse/map/installations-json

@poikilotherm this means you can go ahead and make a pull request if you'd like. 😄

After running `python3 update-data.py` that is. 😄

[2020-02-26 16:08] poikilotherm commented on #55
@jggautier could you do me the favor to rename us from "Jülich Data Installation" to "Jülich DATA"?
I also would like to change that logo - should I send you a pic as an answer to the ticket email?

Thank you very much!

[2020-02-26 16:30] jggautier commented on #55
Sure. I just changed the name in the old map's database.

Feel free to send the logo as a comment in this GitHub issue or in that ticket email. Preferably a square logo, since all of the other logos are squared. Thanks!

[2020-02-26 16:50] poikilotherm commented on #55
I already deleted the RT mails... Here you go: https://fz-juelich.sciebo.de/s/UQqItfWyUwBtjsP

[2020-02-26 17:01] jggautier commented on #55
Okay, I changed the logo.

Maybe there's a delay with that JSON file getting updated?

[2020-02-26 17:03] poikilotherm commented on #55
OK, let me just push you hand-edited changes. Should be patrolled to generate the same result...

[2020-02-26 17:08] pdurbin commented on #55
@poikilotherm for "description" the crowdsourced spreadsheet "wins" over what's in the old map JSON: https://github.com/IQSS/dataverse-installations/blob/430ef6f14786038b66d0f1333a68d2ca215973f0/update-data.py#L25-L29

It overwrites "description", I mean, when producing data.json.

If you'd like to add a new column in that spreadsheet for "name" and similar logic in the script above, please go ahe

[2020-02-26 21:46] #55 closed

[2020-02-27 11:21] pdurbin commented on #7
@shlake do you still want to pester the list once or should I re-pester? 😄 I just made the following diagram which I was planning to sent to the list. Please let me know! It's a screenshot from https://dataverse.org/installations with some angry red added for the years we are missing. 😄

As you know the fix it to ask everyone to fill in the year in the "crowdsourced spreadsheet" spreadsheet: at ht

[2020-02-27 15:59] pdurbin opened #57 "give attribution to OpenStreetMap"
Via https://twitter.com/MapperFr/status/1233013524508676096 we need to look into https://www.openstreetmap.org/copyright/ and figure out what to give attribution to @openstreetmap for their awesome map tiles! This is totally my fault. I was hacking, hacking, hacking early on and probably accidentally removed it. Sorry! We'll fix it.

![Screen Shot 2020-02-27 at 10 53 37 AM](https://user-images.git

[2020-02-27 17:05] mheppler commented on #57
Copyright added in #58.

![Screen Shot 2020-02-27 at 12 03 11 PM](https://user-images.githubusercontent.com/687227/75467317-777f1500-5959-11ea-8d81-b5dd3c39a085.png)

[2020-02-27 19:23] #57 closed

[2020-03-04 01:44] pdurbin commented on #16
@janetm hmm, this makes me think that the popup on the map should give you a "geek mode" option where you can see the whole stack... CentOS vs Debian, AWS vs Google Cloud, S3 vs Swift, etc. https://github.com/IQSS/dataverse/issues/1059#issuecomment-594272482

[2020-03-05 15:06] jggautier opened #60 "Add Dartmouth Dataverse to Dataverse map"
https://dataverse.dartmouth.edu

- [x] Asking repository admins for description and logo.

- [x] Will add those to the miniverse database and the two spreadsheets ("[Crowdsourced information about Dataverse installations](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo)" and [Dataverse installation information maintained by IQSS](https://docs.google.com/spreadsh

[2020-03-05 15:14] jggautier opened #61 "Plans for repository logos"
Should we continue collecting logos for each repository added to the new Dataverse map? They're in the old database and in a Google drive folder, but not being used by the new map or table.

[2020-04-06 18:31] pdurbin commented on #7
This just in from @skasberger for AUSSDA Dataverse - " you once asked me, when we launched. it was the 20th of august 2017."

[2020-04-06 18:36] CCMumma commented on #7
TDR was launched in November 2016 - sorry I missed this one earlier.

[2020-04-08 04:08] philippconzett opened #62 "Add CoreTrustSeal to DataverseNO record on global Dataverse map"
Please add information about CoreTrustSeal to the DataverseNO record on the global Dataverse map (see [discussion](https://groups.google.com/forum/?hl=no#!topic/dataverse-community/yxqAN1lH6Jc) in Google Group).

https://www.coretrustseal.org/wp-content/uploads/2020/03/DataverseNO.pdf

Thanks!

Maybe this information could be pulled directly from [re3data](https://www.re3data.org/)?

[2020-04-08 15:03] pdurbin commented on #62
@philippconzett thanks for creating this issue!

The first step is to update the "CoreTrustSeals" column in this spreadsheet (please feel free to request edit access): https://docs.google.com/spreadsheets/d/1l2R9D1FQy88qVzg2bI6L1LgplmM2l7pnMI80jdiz4fk/edit?usp=sharing

Here's how it looks:

<img width="1312" alt="Screen Shot 2020-04-08 at 10 59 49 AM" src="https://user-images.githubusercontent.com

[2020-04-09 14:49] shlake commented on #62
@pdurbin I will update the spreadsheet and run the script.
Question: what goes in the column? yes/no or something else?

[2020-04-09 15:07] shlake commented on #7
@pdurbin just sent an email to the list asking for dates.

[2020-04-09 15:11] pdurbin commented on #62
@shlake thanks!

https://www.coretrustseal.org/wp-content/uploads/2020/03/DataverseNO.pdf should go in the column.

I have logic to the column could have multiple URLs separated by commas but we don't have any cases of multiple CoreTrustSeal URLs for a single installation of Dataverse. But maybe DataverseNL will get a second one? After Tilburg.

[2020-04-09 15:14] pdurbin commented on #7
@shlake THANK YOU! You're the best! 🎉 🎉 🎉

For anyone who missed it, here's a link to that email: https://groups.google.com/d/msg/dataverse-community/jqfxdU3e2FQ/qroo3eMvAAAJ

[2020-04-14 14:41] shlake commented on #62
@pdurbin I just updated the data.json file to add CoreTrust seal to this map. Is this considered the "global Dataverse map", or is the map on dataverse.org the "global" one?

If this update on data.json closes this issue, this please close, or let me know & I will.

[2020-04-14 14:50] shlake opened #64 "Two URLs same Site - Which to use?"
@jggautier I updated this dataverse-installation map, but found out that _data.inra.fr_ and _data.inrae.fr_ both seem to appear in the miniverse version? but only _data.inra.fr_ appears in the spreadsheets used here.
The update program gave a warning: `On old map only: data.inrae.fr`

[2020-04-14 14:51] pdurbin commented on #62
@shlake this pull request was perfect! Thanks!

Yes, the map in this repo is considered the global Dataverse map. The old map still exists (and we use its JSON as a data source for now) but we don't link to it anymore. So I'll close this issue. Thanks again! 🎉

For @philippconzett and others who are curious, here's how the CoreTrustSeal certification looks in the popup (note that if you hover and

[2020-04-14 14:51] #62 closed

[2020-04-14 18:20] jggautier commented on #64
An admin of Data Inrae asked in https://github.com/IQSS/dataverse-metrics/pull/41#issue-394819187 that the URL to their repository be changed to https://data.inrae.fr

From what I can tell, that's what's in the miniverse database:

<img width="816" alt="Screen Shot 2020-04-14 at 2 16 53 PM" src="https://user-images.githubusercontent.com/18374574/79259370-9c244300-7e5a-11ea-9cd0-85a0599d54cc.png">

[2020-04-14 18:28] shlake commented on #64
@jggautier actually, both spreadsheets had the new URL - data.inrae.fr, but I got an error when I tried to run the update here (error was w/ data.inra.fr?). I couldn't figure where it came from, so I changed the spreadsheet to data.inra.fr and it worked.

I'll try again tomorrow (updating the spreadsheets to the correct URL) and see what happens.

[2020-04-14 18:35] jggautier commented on #64
Ah, okay. I'll stand by then.

[2020-04-14 19:47] pdurbin opened #65 "CoreTrustSeal for dataverse.ada.edu.au"
@janetm recently mentioned that https://dataverse.ada.edu.au has the CoreTrustSeal certification! See https://groups.google.com/d/msg/dataverse-community/yxqAN1lH6Jc/xzo4HnueBwAJ

We should add it, just like we did for DataverseNO in #62.

I found https://www.coretrustseal.org/wp-content/uploads/2018/02/Australian-Data-Archive.pdf at https://www.coretrustseal.org/why-certification/certified-reposi

[2020-04-15 03:22] philippconzett commented on #62
Adding a CoreTrustSeal to DataverseNL on the map may lead to some confusion, as DataverseNL actually is not CoreTrustSeal certified, only one of the repositories within DataverseNL (=Tilburg Dataverse). DataverseNL is a technical infrastructure provider, not a repository, whereas Tilburg Dataverse is a repository. Both types of infrastructures can be certified, but the certification would ask for

[2020-04-15 15:22] pdurbin commented on #62
@philippconzett well, I hope it helps that I made the CoreTrustSeal icon a link so you can click it and go to https://www.coretrustseal.org/wp-content/uploads/2018/04/Tilburg-University-Dataverse.pdf to get details about Tilburg rather than DataverseNL.

[2020-04-27 12:29] jggautier commented on #60
Dartmouth is added to the map. Closing this ticket.

[2020-04-27 12:29] #60 closed

[2020-04-27 12:36] jggautier opened #66 "Add Yale-NUS Dataverse to the Dataverse map"
I asked the repository admin to include in the crowdsourced spreadsheet a brief description of the repository. Waiting to hear back.

- [x] Repository admin provided brief description in the [crowdsourced spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo)
- [x] Repository added to miniverse database
- [ ] Script for updating JSON file was run

[2020-04-27 12:46] jggautier opened #67 "Add NIOZ Dataverse to the Dataverse map"
I asked the repository admin to include in the crowdsourced spreadsheet a brief description of the repository. Waiting to hear back.

- [x] Repository admin provided brief description in the [crowdsourced spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo)
- [x] Repository added to [Dataverse installation information maintained by IQSS](https://docs.go

[2020-04-28 16:00] jggautier opened #68 "Data from miniverse map application (installations-json) is unavailable, so update script isn't working"
I'm just reporting that https://services.dataverse.harvard.edu/miniverse/map/installations-json was down as of this writing, so the update script, which pulls some info from that JSON, throws an HTTPError, preventing the addition of new Dataverse repositories to the new Dataverse map.

(Many or all of the other [miniverse services](https://services.dataverse.harvard.edu/miniverse/metrics/metrics-l

[2020-04-28 16:01] jggautier commented on #67
Blocked by update script throwing an error. See https://github.com/IQSS/dataverse-installations/issues/68

[2020-04-28 16:01] jggautier commented on #66
Blocked by update script throwing an error. See https://github.com/IQSS/dataverse-installations/issues/68

[2020-04-28 19:58] shlake commented on #65
Added to spreadsheet maintained by IQSS:
https://docs.google.com/spreadsheets/d/1l2R9D1FQy88qVzg2bI6L1LgplmM2l7pnMI80jdiz4fk

[2020-04-30 18:57] jggautier opened #69 "Add Institute of Russian Literature Dataverse to the Dataverse map"
- [x] Repository admin provided brief description in the [crowdsourced spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo)
- [x] Repository added to miniverse database
- [ ] Script for updating JSON file was run

[2020-04-30 18:58] jggautier commented on #69
Blocked by update script throwing an error. See #68

[2020-04-30 20:02] pdurbin opened #70 "Move data formerly from Miniverse (in data.json) into Google spreadsheets, rewrite update-data.py"
My plan all along was to move off of miniverse but especially now that it's down (#68) it makes sense to expedite the process of moving data we care about (lat/long for sure) to Google spreadsheets. The `json2tsv.py` script might help in this process (though I see it's throwing an error).

Once all the data is in Google spreadsheets, we'll rewrite `update-data.py` to use it.

In the README we curr

[2020-05-05 19:54] pdurbin commented on #70
I made pull request #71. Some thoughts I put in there:

- We are down to two data sources. Presence in the metrics site sets metrics to true and shows on the popup. All other information is in the crowdsourced spreadsheet.
- The crowdsourced spreadsheet is now editable by request rather than being world editable. The world can still leave comments.
- The "add your installation" link now says to op

[2020-05-06 13:48] pdurbin opened #72 "Make updates for SciencesPO"
These comments were left in the spreadsheet:

<img width="406" alt="Screen Shot 2020-05-06 at 9 47 21 AM" src="https://user-images.githubusercontent.com/21006/81184658-a7acea80-8f7e-11ea-9d3c-29385da9ed26.png">

[2020-05-07 12:15] #17 closed

[2020-05-07 12:15] #50 closed

[2020-05-07 12:15] #64 closed

[2020-05-07 12:15] #68 closed

[2020-05-07 12:15] #70 closed

[2020-05-07 17:20] pdurbin commented on #65
Added in 76ad6ac.

<img width="403" alt="Screen Shot 2020-05-07 at 1 19 49 PM" src="https://user-images.githubusercontent.com/21006/81324774-72c79300-9065-11ea-8e87-47f8754d2a3a.png">

Congrats @janetm et al.!

[2020-05-07 17:20] #65 closed

[2020-05-07 17:36] #67 closed

[2020-05-07 17:44] pdurbin commented on #66
Added in 6b35b03.

[2020-05-07 17:44] #66 closed

[2020-05-07 17:49] pdurbin commented on #72
Updated in c0753f2.

[2020-05-07 17:49] #72 closed

[2020-05-07 18:00] #69 closed

[2020-05-15 15:13] jggautier opened #73 "Why doesn't Yale-NUS Dataverse's link on the map use https?"
On the map, the link for Yale-NUS Dataverse goes to http://dataverse.yale-nus.edu.sg, which does not go to the installation's site. Adding https, https://dataverse.yale-nus.edu.sg, takes you to the site.

When I click on other installation links on the map, the URL changes to use https, even though the crowdsourced spreadsheet (and the data.json file) don't specify https.

When I add https to Yale

[2020-05-15 15:20] jggautier opened #74 "Update location of NIOZ Dataverse"
Repository admin let me know that the address is Landsdiep 4, 1797 SZ Den Hoorn Texel, Netherlands. The lat/long should be 53.002423, 4.786061.

[2020-05-15 15:30] pdurbin commented on #73
@jggautier here's where you can see that plain "http://" is added to the hostname:

https://github.com/IQSS/dataverse-installations/blob/8d4924de04132c9f3e1fc9d21fc537403a910aa2/js/map.js#L63-L64

We should contact this installation and point out that the plain http version doesn't redirect to the https version. Redirects like this are extremely common. We document how to set up a redirect using A

[2020-05-15 16:07] jggautier commented on #73
Sounds good. Thanks for contacting them. Closing this issue.

[2020-05-15 16:07] #73 closed

[2020-05-15 16:11] #74 closed

[2020-05-19 20:54] alejandratenorio opened #75 "Add my Dataverse repository: ICRAF"
**Name of repository:** World Agroforestry - Research Data Repository

**Homepage URL of repository:** https://data.worldagroforestry.org/

**A few sentences about the repository:**

**Location of the repository (street address if possible):** United Nations Avenue, Gigiri
PO Box 30677, Nairobi, 00100, Kenya

*The following isn't required but is nice to have:*
Email address of repository contact:

[2020-05-20 18:28] shlake commented on #75
@pdurbin Added to Crowsdsourced sheet, now do I run the update script?

[2020-05-20 19:28] pdurbin commented on #75
@shlake yes! Please let me know if you have any trouble! I rewrote it recently. Should work. 😄

[2020-05-20 19:49] shlake commented on #75
World Agroforestry - Research Data Repository: added to Dataverse installations map

[2020-05-20 19:49] #75 closed

[2020-05-25 20:57] jggautier opened #76 "Update hostname of Göttingen Research Online"
In data.json, the hostname of Göttingen Research Online is data.gro.uni-goettingen.de but the page redirects to data.goettingen-research-online.de. Going to update this.

[2020-05-25 20:58] #76 closed

[2020-05-30 21:49] jggautier opened #77 "Update Maine Dataverse's URL so the link on the map works"
On the Dataverse map, the link for Mains Dataverse, http://dataverse.acg.maine.edu, doesn't lead to the repository or redirect to the URL that does lead to the repository: http://dataverse.acg.maine.edu/dvn

To get the link on the map working asap, I'm going to update the URL in the "Crowdsourced information about Dataverse installations" spreadsheet (and run the update script).

[2020-05-30 21:59] #77 closed

[2020-06-23 13:07] jggautier opened #78 "Remove Dalhousie University Dataverse from map"
https://dataverse.library.dal.ca moved to Scholars Portal Dataverse: https://dataverse.scholarsportal.info/dataverse/dal

[2020-06-23 13:10] #78 closed

[2020-06-23 14:10] donsizemore opened #79 "propose "provider" column to track installation platform"
For ease of conjuring kindred spirits, would the community benefit from a provider/platform column to easily identify who's running in AWS, Kubernetes, or a PC under somebody's desk?

I'm deferring to @jggautier and @shlake on whether and where rather than submitting a PR outright.

[2020-06-23 15:09] jggautier commented on #79
Also pinging @pdurbin (who's probably already seen this lol), who's worked with Janet McDougall and others about installation personas and I think has been thinking about this info specifically, e.g. https://github.com/IQSS/dataverse-installations/issues/16#issuecomment-594273084

[2020-06-23 17:32] pdurbin commented on #79
@donsizemore thanks for opening and @jggautier thanks for linking to the "installation personas" issue.

"provider" sounds fine but like Marie Kondo I kind of want to put like with like. That is AWS is like Azure or Google Cloud. Kubernetes is different. It can be run on any of those clouds or on premise. But maybe initially, rather than over thinking it, we should just go for this "provider" idea

[2020-08-25 20:49] Fernand0S opened #80 "Add my Dataverse repository: {CIDACS}"
**CIDACS:**

**https://dataverse.intracidacs.org:**

**Salvador-Bahia (= Parque Tecnológico da Edf. Tecnocentro, sala 315, Rua Mundo, nº 121, BA):**

**Fiocruz-BA data repository with epidemiological data and research from all over Brazil:**

**curadoriadata@gmail.com:**

**2020**

** https://hdl.handle.net/20.500.12196:**

[2020-08-26 13:57] #80 closed

[2020-09-14 13:04] jggautier commented on #52
I removed the row with the entry that was marked as skipped.

[2020-09-14 13:04] #52 closed

[2020-09-14 15:20] jggautier opened #81 "As a Dataverse installation admin or user, I'd like to know which and how many repositories are based in a location"
When markers on the current Dataverse installations map are too close together, the overlapping can make it look like there's only one marker:

<img width="982" alt="Screen Shot 2020-09-14 at 10 39 53 AM" src="https://user-images.githubusercontent.com/18374574/93099972-a4d1ad00-f676-11ea-86fc-e5431b57bab2.png">

It looks like there are five markers in Brazil, but there are six. We don't see and ca

[2020-09-14 17:56] pdurbin commented on #81
I definitely agree this is a problem.

Thanks to @poikilotherm we had marker clusters when pull request #20 was merged but it was ultimately reverted. Some screenshots from back then:

<img width="713" alt="Screen Shot 2020-09-14 at 1 55 07 PM" src="https://user-images.githubusercontent.com/21006/93120832-efacee00-f691-11ea-8957-9ac5a93bd0e4.png">

A list/table already exists at https://dataverse.

[2020-09-14 18:00] poikilotherm commented on #81
IIRC it was rejected because you wanted the markers to more visually indicate installation locations. We could simply size down the cluster radius to just fix cases where things overlap. IIRC the colors should be adjustable, too.

[2020-09-15 18:10] TaniaSchlatter commented on #81
@poikilotherm you remember correctly. There are issues with Leaflet, like no visual indication of the area covered by the clustered marker. When that is combined with overlay on a map, locations were really inaccurate. That may not be a problem on maps that are more local, but it was not great on our global map.

[2020-09-16 17:50] Fiocruz-RIDP opened #82 "Add my Dataverse repository: {Repositório Institucional de Dados para Pesquisa da Fiocruz}"
**Repositório Institucional de Dados para Pesquisa da Fiocruz:**

**https://dadosdepesquisa.fiocruz.br/dataverse.xhtml:**

**Rio de Janeiro:**

*The following isn't required but is nice to have:*

**The institutional research data repository for Oswaldo Cruz Foundation (Fiocruz). Fiocruz researchers are encouraged to use the data repository to deposit, publish and archive their research data in or

[2020-09-16 17:53] Fiocruz-RIDP commented on #82
Fiocruz's address is: Av. Brasil, 4365 - Manguinhos, Rio de Janeiro - RJ

[2020-09-16 18:18] jggautier commented on #82
Thanks @Fiocruz-RIDP. I've added this info to the spreadsheet at https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo, which is the source of the data for the map on dataverse.org. But a marker for the repository won't show up on the map until you let me know you would like it to.

(I asked in an email exchange with Vanessa de Arruda Jorge today if the repository sho

[2020-09-16 18:43] Fiocruz-RIDP commented on #82
Thanks @jggautier ! The map can show the repository right away. It is already working. We will publish datasets soon. Thanks again

[2020-09-16 19:01] vanessaajorge commented on #82
Hi @jggautier ! Do we have to complete any data in the spreadsheet? Thanks!

[2020-09-16 20:31] jggautier commented on #82
Hi @vanessaajorge. I see that some [more info was added](https://github.com/IQSS/dataverse-installations/issues/82#issue-702955980) (a description of the repository and the DOI authority), so I'll add those to the spreadsheet and update the map.

If there are any other columns of [the spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo) that you'd like

[2020-09-16 20:33] #82 closed

[2020-09-24 17:44] TaniaSchlatter commented on #81
This is a nice model of a more useful map, and includes filters: https://solve.mit.edu/events-map

[2020-09-30 14:54] nightowlaz opened #83 "Add my Dataverse repository: ASU Library Research Data Repository"
**Name of repository:**
ASU Library Research Data Repository

**Homepage URL of repository:**
https://dataverse.asu.edu

**Location of the repository (city or street address if possible):**
Tempe,  Arizona

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
ASU Library's research data repository (powered by Harvard’s Dataverse softwar

[2020-09-30 16:41] shlake commented on #83
@jggautier What steps do you do to get this on the map? Are there still two places (three) with "sources" of data for the map?

[2020-09-30 16:54] jggautier commented on #83
Hi @shlake. @pdurbin moved all of the info to [one Google Sheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo/edit#gid=0), so we just add a new row to the spreadsheet, run the update script and make a pull request. Hopefully that's all clear from the [contributing guide](https://github.com/IQSS/dataverse-installations/blob/master/CONTRIBUTING.md)

[2020-09-30 17:00] shlake commented on #83
I thought there was another file that you @jggautier had to update? Or is everything now coming from that Google Sheet? It's been awhile and I am rusty (obviously).😉

[2020-09-30 17:12] jggautier commented on #83
Everything's coming from the Google Sheet now. The lat/long was pulled from a separate database, but that's been moved to and is being pulled from the Google Sheet now, too.

[2020-09-30 17:13] #83 closed

[2020-09-30 17:24] jggautier commented on #83
@nightowlaz, I updated the spreadsheet to indicate that ASU is a GDCC member. It's on the map now.

[2020-09-30 17:52] nightowlaz commented on #83
Thank you!

Deirdre Kirmis
Technology Services
Arizona State University Library
480-965-7240

From: Julian Gautier <notifications@github.com>
Sent: Wednesday, September 30, 2020 10:25 AM
To: IQSS/dataverse-installations <dataverse-installations@noreply.github.com>
Cc: Deirdre Kirmis <dckirmis@asu.edu>; Mention <mention@noreply.github.com>
Subject: Re: [IQSS/dataverse-installations] Add my Datavers

[2020-09-30 19:11] pdurbin commented on #83
@jggautier it sounds like we should let @shlake do the next one. 😄

Welcome aboard, @nightowlaz! 🎉

[2020-10-20 18:55] rafael-castillo opened #84 "Add my Dataverse repository: Repositorio de datos de investigación de la Universidad de Chile"
**Name of repository:**
Repositorio de datos de investigación de la Universidad de Chile

**Homepage URL of repository:**
https://datos.uchile.cl/

**Location of the repository (city or street address if possible):**
Santiago de Chile. Diagonal Paraguay 265. Región Metropolitan

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
El Re

[2020-10-20 22:57] jggautier commented on #84
@shlake, did you want to add one? It's the first known one in Chile!

[2020-10-21 12:50] shlake commented on #84
@jggautier Sure, I'll add, get me back in practice.

[2020-10-21 13:15] #84 closed

[2020-10-21 13:16] shlake commented on #84
Closed with pull request #85

[2020-10-21 14:13] pdurbin commented on #84
@rafael-castillo welcome to the Dataverse community!

@shlake thanks for adding Universidad de Chile to the map! Like @jggautier said, it's the first in Chile. Here's the screenshot I just shared in Slack:

<img width="411" alt="Screen Shot 2020-10-21 at 10 08 46 AM" src="https://user-images.githubusercontent.com/21006/96732096-f95afd00-1385-11eb-9bf9-785a73589dc1.png">

[2020-11-30 14:39] jggautier opened #87 "Add my Dataverse repository: SODHA"
**Name of repository:**
SODHA

**Homepage URL of repository:**
sodha.be

**Location of the repository (city or street address if possible):**
50.84241, 4.356423

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
The federal Belgian data archive for social sciences and the (digital) humanities! SODHA is the Belgian service provider in

[2020-11-30 14:43] #87 closed

[2020-11-30 14:47] jggautier commented on #61
Closing this issue.

[2020-11-30 14:47] #61 closed

[2020-12-01 17:33] jggautier opened #88 "Add my Dataverse repository: Datos"
**Name of repository:**
Datos

**Homepage URL of repository:**
datos.cedia.edu.ec

**Location of the repository (city or street address if possible):**
Lat: -2.90791 Long: -79.01080 (Gonzalo Cordero Dávila & J. Fajardo, Cuenca, Ecuador)

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
CEDIA's Research Data Repository preserves, dis

[2020-12-01 17:41] jggautier commented on #88
@shlake or @pdurbin, would you like to do the honors? If not, I can. ツ

[2020-12-01 19:26] pdurbin commented on #88
@jggautier you know, it's been a while. I'll get this one.

[2020-12-01 19:40] shlake commented on #88
@pdurbin Thanks. I'm still in a workshop & wouldn't be able to get it until later this afternoon.

[2020-12-01 19:45] pdurbin commented on #88
I don't like how this looks (should be a single address)...

"contact_email": "freddy.sumba@cedia.org.ec, neg@cedia.org.ec"

... so I'm going with the single generic non-person address instead, like this:

"contact_email": "neg@cedia.org.ec"

I the future, perhaps we could express multiple email addresses in an array.

[2020-12-01 19:53] #88 closed

[2020-12-01 19:55] pdurbin commented on #88
Ok. Add in pull request #89. First installation in Ecuador! Here it is on the map:

<img width="374" alt="Screen Shot 2020-12-01 at 2 54 29 PM" src="https://user-images.githubusercontent.com/21006/100790003-3b477c00-33e5-11eb-85e4-7504f161a803.png">

[2020-12-02 17:05] jggautier opened #90 "Update description for Datos repository"
Admin [emailed Dataverse support](https://help.hmdc.harvard.edu/Ticket/Display.html?id=297067#txn-6726948) to ask that the Datos description be updated to:

CEDIA's Research Data Repository preserves, disseminates and gives access to research data generated by its academics and researchers. In order to grant visibility, this repository guarantees its conservation and makes easier its access and re

[2020-12-02 17:14] #90 closed

[2020-12-02 22:46] TaniaSchlatter commented on #61
I think we should keep collecting them, @jggautier. Even though we are not using them now, it would be great to have them for future use.

[2020-12-03 13:56] jggautier commented on #61
Could we collect them when we need them? There's also the good chance some logos will have changed by the time we want to use them, depending on when we think we'll use them.

[2020-12-03 14:12] TaniaSchlatter commented on #61
That's possible, but it makes it hard to plan to use something we don't have. I agree logos might change. I don't know how much work it is to get them, so I'll leave it up to you.

[2020-12-15 22:10] djbrooke opened #91 "Add my Dataverse repository: Florida International University Research Data Portal"
**Name of repository:**

Florida International University Research Data Portal

**Homepage URL of repository:**

https://dataverse.fiu.edu/

**Location of the repository (city or street address if possible):**

11200 SW 8th St, Miami, FL 33199

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**

The FIU Research Data Portal serves as

[2020-12-16 00:19] shlake commented on #91
@shlake here, I can do this Wed morning.

[2020-12-16 14:02] shlake commented on #91
Updated Crowdsourced Spreadsheet

[2020-12-16 14:17] shlake commented on #91
Closed w/ #92

[2020-12-16 14:17] #91 closed

[2020-12-16 14:19] djbrooke commented on #91
Thanks @shlake !!

[2021-01-05 08:36] MRIPAS opened #94 "Add my Dataverse repository: Open Forest Data"
**Name of repository:** Open Forest Data

**Homepage URL of repository:** https://dataverse.openforestdata.pl/

**Location of the repository (city or street address if possible):** Białowieża, Poland

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:** Podlasie digital repository of natural science data

**Email address of repository c

[2021-01-05 18:00] #94 closed

[2021-01-05 19:05] pdurbin commented on #94
@shlake looks great! Thanks!

<img width="465" alt="Screen Shot 2021-01-05 at 2 04 30 PM" src="https://user-images.githubusercontent.com/21006/103687879-fae89a00-4f5e-11eb-92d3-341bc554c29e.png">

[2021-04-12 18:50] mglavica opened #96 "Add my Dataverse repository: CROSSDA"
**Name of repository:**
CROSSDA

**Homepage URL of repository:**
https://data.crossda.hr

**Location of the repository (city or street address if possible):**
Faculty of Humanities and Socal Sciences
I. Lučića 3, HR-10000 Zagreb, Croatia
45.79641, 15.97162

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
The Croatian Social Science

[2021-04-12 19:13] shlake commented on #96
@jggautier it's been awhile since I've updated this map. Do you need to do anything with the "other" map file. Is there another map file anymore?

[2021-04-12 19:32] #96 closed

[2021-04-12 19:33] shlake commented on #96
@jggautier I guess one only needs to update the map with the crowd-sourced spreadsheet. Seems to have worked. CROSSDA now on Dataverse Installations map.

[2021-04-12 19:34] shlake commented on #96
@mglavica CROSSDA now on Dataverse Installations map. https://iqss.github.io/dataverse-installations/

[2021-04-12 19:42] jggautier commented on #96
Right! @pdurbin moved everything into the crowd-sourced spreadsheet :)

[2021-04-12 19:45] mglavica commented on #96
Wow, that was fast :) Thank you @shlake and all!

[2021-04-26 16:15] jggautier opened #98 "Add my Dataverse repository: RSU Dataverse"
**Name of repository:**
RSU Dataverse

**Homepage URL of repository:**
https://dataverse.rsu.lv/

**Location of the repository (city or street address if possible):**
Dzirciema iela 16, Riga, Latvia (56.95435220722525, 24.055010284655705)

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
The Riga Stradins University Research Data Re

[2021-04-26 16:16] jggautier commented on #98
I'm waiting for confirmation on the location of the repository.

[2021-04-26 18:46] jggautier commented on #98
Location and description added in this issue and in the spreadsheet.

@pdurbin, I get these errors when running the update-data.py:

<details>
<summary>Error messages:</summary>

[code]

</details>

I remember this happening before and think it was resolved by contacting the installation. Is this an issue with how their installation is configured? If so, could I forward the support email to you so

[2021-04-26 19:18] shlake commented on #98
@jggautier it works for me.

[2021-04-26 19:37] jggautier commented on #98
Hmmm okay! I'm installing updates on my computer now and I'll try running the script again today when updates are done. If the updates don't let me run the script, I'll let you know so you can commit your change. Thanks for checking!

[2021-04-26 21:22] jggautier commented on #98
Updating my MacOS didn't work. Not sure what else to do.

@shlake could you commit your change, then?

I think the error occurs when the script tries to open the metrics_url (https://dataversemetrics.odum.unc.edu/dataverse-metrics/config.json)

I can open that url  in my browser, but when I try to run...

[code]
... I get the same error message I posted earlier.

[2021-04-27 12:57] shlake commented on #98
Closed by #99

[2021-04-27 12:57] #98 closed

[2021-04-27 15:48] pdurbin commented on #98
@shlake looks great! Thank you!

<img width="693" alt="Screen Shot 2021-04-27 at 11 46 33 AM" src="https://user-images.githubusercontent.com/21006/116271897-6c3a9b80-a74e-11eb-94bb-fc7bd8fa5690.png">

@jggautier I'll ping you about your Python woes.

[2021-08-19 15:49] wendysmann opened #100 "Add my Dataverse repository: George Mason University Dataverse"
**Name of repository:**
George Mason University Dataverse

**Homepage URL of repository:**
https://dataverse.orc.gmu.edu

**Location of the repository (city or street address if possible):**
4400 University Dr. Fairfax, VA 22030

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
George Mason University Libraries Dataverse publishes,

[2021-08-19 16:19] shlake commented on #100
@wendysmann YAY!!! George Mason is now on the map!!
https://iqss.github.io/dataverse-installations/

[2021-08-19 16:19] #100 closed

[2021-08-19 16:25] wendysmann commented on #100
Wow that was fast. Thank you!!

[2021-09-24 13:32] djbrooke opened #102 "Italian Institute of Technology (IIT) Dataverse Installation"
**Name of repository:**

IIT Dataverse

**Homepage URL of repository:**

https://dataverse.iit.it/

**Location of the repository (city or street address if possible):**

Via Morego, 30 16163 Genova

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**

IIT Dataverse is the research data repository of Istituto Italiano di Tecnologia and

[2021-09-24 17:57] shlake commented on #102
Added to crowd-source spreadsheet.

Will run the update in a few....

[2021-09-24 19:23] #102 closed

[2021-10-04 14:41] jggautier opened #104 "Add my Dataverse repository: Lietuvos HSM duomenų archyvas (LiDA)"
**Name of repository:**
Lietuvos HSM duomenų archyvas (LiDA)

**Homepage URL of repository:**
https://lida.dataverse.lt

**Location of the repository (city or street address if possible):**
K. Donelaičio g. 73, Kaunas 44249, Lithuania

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
Lietuvos HSM duomenų archyvas (LiDA) yra virtuali

[2021-10-04 14:42] shlake commented on #104
@jggautier are you still having python problems adding to the map?

If so, I can do this later today.

[2021-10-04 14:46] jggautier commented on #104
Hi @shlake. I think the problem I was having might've been resolved. 🤞 I'd like to try adding this one to the map (after the repository contact confirms the details).

[2021-10-04 20:25] vaidasmo commented on #104
Hello,

We would like to add English description, as it seems to be more appropriate:

**Name of repository**:
Lithuanian Data Archive for Social Sciences and Humanities (LiDA)

**Homepage URL of repository**:
https://lida.dataverse.lt

**Location of the repository**:
A. Mickevičiaus g. 37-1100, LT-44244 Kaunas, Lithuania

The following isn't required but is nice to have:

**A short description (f

[2021-10-04 20:39] jggautier commented on #104
@shlake, I added the info to [the spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo) (row 43) but I'm still having a problem with the update-data.py script. Could you update the map when you get the chance?

(`response = urlrequest.urlopen(metrics_url)` on line 14 is still causing some sort of security error.)

[2021-10-05 19:06] #104 closed

[2021-10-26 19:47] jggautier opened #106 "Add my Dataverse repository: CUHK Research Data Repository"
**Name of repository:**
CUHK Research Data Repository

**Homepage URL of repository:**
https://researchdata.cuhk.edu.hk

**Location of the repository (city or street address if possible):**
22.419843178858944, 114.20676059818298
([See location on Google Maps](https://goo.gl/maps/qgJL3xMfFExYY7ALA))

*The following isn't required but is nice to have:*

**A short description (few sentences) about th

[2021-10-27 18:15] #106 closed, assigned to jggautier

[2021-11-08 19:47] jggautier opened #107 "Add my Dataverse repository: CORA. Research Data Repository (RDR)"
**Name of repository:**
CORA. Research Data Repository (RDR)

**Homepage URL of repository:**
https://dataverse.csuc.cat

**Location of the repository (city or street address if possible):**
Consorci de Serveis Universitaris de Catalunya, Catalonia, Spain
41.38745981861992, 2.1120773040029754 ([Link to location on Google Maps](https://goo.gl/maps/Gr7MLJ17EXUUKB7M6))

*The following isn't required

[2021-11-08 19:55] #107 closed

[2021-11-17 16:13] tjouneau opened #108 "Add my Dataverse repository: DOREL"
**Name of repository:**
DOREL

**Homepage URL of repository:**
https://dorel.univ-lorraine.fr

**Location of the repository (city or street address if possible):**
Université de Lorraine, 34 cours Léopold, 54000 Nancy, France

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
The institutional data repository DOREL - DOnnées de REche

[2021-11-17 23:47] #108 closed

[2021-11-19 19:29] jggautier opened #109 "Remove UAL Dataverse from the map"
The repository's moved to Scholars Portal

[2021-11-19 19:33] jggautier commented on #109
Close by the commit at https://github.com/IQSS/dataverse-installations/commit/81415b488fa2b29a5d46de4cca19f240842bcf68

[2021-11-19 19:33] #109 closed

[2021-11-23 15:25] wpavan opened #110 "Add my Dataverse repository: IFDC Dataverse"
**Name of repository:**
IFDC Dataverse

**Homepage URL of repository:**
https://dataverse.ifdc.org/

**Location of the repository (city or street address if possible):**
46 David Lilienthal Dr
Muscle Shoals, AL 35661

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
Over the years, IFDC has conducted numerous research and demonstrat

[2021-11-23 17:01] #110 closed

[2022-01-21 07:35] DieuwertjeBloemen opened #111 "Add my Dataverse repository: KU Leuven RDR"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
KU Leuven RDR

**Homepage URL of repository:**
https://rdr.kuleuven.be/

**Location of the repository (lat/long preferably or city or street address):**
Leuven, Belgium

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
RDR is th

[2022-01-21 16:36] #111 closed

[2022-01-21 16:38] jggautier commented on #111
Thanks @DieuwertjeBloemen. KU Leuven RDR is added to the Dataverse map now.

<img width="734" alt="Screen Shot 2022-01-21 at 11 37 25 AM" src="https://user-images.githubusercontent.com/18374574/150565256-ea3ca88f-7176-49fc-b64d-4f89b4a4aa97.png">

[2022-02-25 00:54] jggautier opened #112 "Add my Dataverse repository: Edmond"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
Edmond

**Homepage URL of repository:**
https://edmond.mpdl.mpg.de/

**Location of the repository (lat/long preferably or city or street address):**
48.137222, 11.575556

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repository:**
Edmond i

[2022-02-25 00:54] jggautier commented on #112
I'm verifying the description and repository contact email address.

[2022-02-25 15:48] #112 closed

[2022-03-24 14:37] jggautier opened #113 "Add my Dataverse repository: DADOS IPB"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
DADOS IPB

**Homepage URL of repository:**
https://dados.ipb.pt

**Location of the repository (lat/long preferably or city or street address):**
41.79757744726813, -6.767712401768372

*The following isn't required but is nice to have:*

**A short description (few sentences) about the repositor

[2022-03-24 14:49] jggautier commented on #113
Hi @shlake. Could you try to run update_data.py to add this repository to the Dataverse map?

When I try, I get some kind of SSL certificate error when the line `response = urlrequest.urlopen(metrics_url)` runs and I'm wondering if this is an issue with my Python like last time or due to some change in the the "metrics_url" (https://dataversemetrics.odum.unc.edu/dataverse-metrics/config.json)

[2022-03-24 15:21] shlake commented on #113
Need to update the python code for URL to:

 https://metrics.dataverse.org/ instead

I Will do soon.

[2022-03-24 17:00] #113 closed

[2022-03-24 17:03] jggautier commented on #113
Thanks @shlake!

[2022-03-24 17:03] shlake commented on #113
@jggautier
Thanks to Don, I updated the python script with the new metrics URL.
and added the new site.

[2022-03-28 19:09] pdurbin commented on #113
I just wanted to mention I was seeing those CERTIFICATE_VERIFY_FAILED errors too. I was looking at stuff like https://stackoverflow.com/questions/44649449/brew-installation-of-python-3-6-1-ssl-certificate-verify-failed-certificate to someday update my Python certificate store but for now changing the metrics URL works. Thanks!

[2022-04-01 14:59] donsizemore commented on #3
I too wrote a no-good very-bad horrible script (though its output is `hostname,version` CSV). Happy to contribute to the dataverse-metrics/global repo or to this repo in case it's helpful.

[2022-04-06 16:29] jggautier opened #115 "Updating CIRAD Dataverse's name and adding launch year"
A representative of the CIRAD Dataverse repository left updates on [the Crowdsourced information about Dataverse installations Google sheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo) to update the repository's name and add its launch year.

[2022-04-20 19:30] jggautier opened #116 "Update name and hostname of Indata, formerly listed as "Datos""
The name and hostname of the repository listed as "Datos" needs to be changed:

name: Indata
hostname: indata.cedia.edu.ec

[2022-04-20 19:32] #116 closed

[2022-04-26 20:22] jggautier opened #117 "Add contact info for CIRAD Dataverse"
A CIRAD Dataverse admin asked us to include a contact email for the repository.

[2022-04-26 20:23] #117 closed

[2022-05-11 13:32] jggautier opened #118 "Adding contact emails for several installations"
Hi @philippconzett, some of the contact email addresses you've added to [the Crowdsourced information about Dataverse installations spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo) look like they're from personal accounts. Is it okay to make those email addresses public?

[2022-05-14 12:12] philippconzett commented on #118
@jggautier Sorry about that. I collected them from publicly available information on the web pages of Dataverse installations. I needed the addresses to send out the community survey the other day.

[2022-05-16 11:10] jggautier commented on #118
Ah, no problem. Just wanted to be sure.

[2022-05-16 12:35] #118 closed

[2022-05-20 19:23] alsantiagoabreu opened #119 "Add my Dataverse repository: FGV Dataverse"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository: FGV Dataverse

**Homepage URL of repository: https://dataverse.fgv.br/

**Location of the repository (lat/long preferably or city or street address): Centro Cultural FGV - Praia de Botafogo, 190 - Botafogo, Rio de Janeiro - RJ, 22250-900 , Brazil

*The following isn't required but is nice to hav

[2022-05-23 15:10] #119 closed

[2022-05-23 15:16] jggautier commented on #119
Hi @alsantiagoabreu. The FGV Dataverse should be added to the map today. Thanks!

[2022-06-02 14:29] IlariaBelvedere opened #120 "Missing launch year Dataverse University of Milan"
Dataverse UNIMI was tested throughout 2018 and it was launched in 2019 according to this presentation (in English): https://www.eventi.garr.it/it/conf19/programma/materiali-conferenza-2018/presentazioni-4/391-conf19-presentazione-mornati/file.

[2022-06-02 14:44] pdurbin commented on #120
@IlariaBelvedere thanks!

Relates to:

- #7

[2022-06-02 15:04] IlariaBelvedere opened #121 "Missing launch year heiDATA"
About heiDATA, it seems that it was implemented in 2014 and maybe officially launched in 2015 (because this article from 2018 reports 2014 as the initial year and then "three years after the project started"): https://www.o-bib.de/bib/article/view/2018H2S61-71/6385
I can't read German, I only translated it, so it should be confirmed.

[2022-06-02 15:15] IlariaBelvedere opened #122 "Missing launch year for Data INRAe"
From what I can read here (https://data.inrae.fr/): "Pour citer le portail : Institut National de Recherche pour l'Agriculture, l'Alimentation et l'Environnement. (2018). Data INRAE. INRAE. https://doi.org/10.14758/9T8G-WJ20", the installation was launched in 2018. There are also several youtube introductional videos from INRAE presenting the portal and they are dated four years ago: https://www.y

[2022-06-02 17:55] pdurbin opened #123 "Missing launch year for Harvard Dataverse"
As far as I know the first production URL for Harvard Dataverse was http://dvn.iq.harvard.edu though it was called IQSS Dataverse Network back then. The earliest snapshot the Wayback Machine has for this site is from from Sep 2008: https://web.archive.org/web/20080908065030/http://dvn.iq.harvard.edu/dvn

In March 2013 we switched from http://dvn.iq.harvard.edu to http://thedata.harvard.edu but thi

[2022-06-03 10:59] pdurbin commented on #121
Related:

- #7

[2022-06-03 10:59] pdurbin commented on #122
Related:

- #7

[2022-06-03 11:02] pdurbin opened #124 "Missing launch year for Peking University"
Let's go with 2014 based on https://dataverse.org/blog/q-peking-university-dataverse

"Peking University chose Dataverse for data repository in 2014 because Dataverse has the big advantage of being open source software... Peking University migrated to Dataverse 4.0 from Dataverse 3.3 in June 2015."

Related:

- #7

[2022-06-03 15:52] IlariaBelvedere commented on #124
Great :) Thank you

[2022-06-03 17:14] pdurbin commented on #124
@IlariaBelvedere sure! Do you like Python? Would you like to help update the map?

[2022-06-03 20:46] IlariaBelvedere commented on #124
You mean as it is explained here: https://github.com/IQSS/dataverse-installations/blob/master/CONTRIBUTING.md? I can try to, If it all is required to update the map is running that script (because I am not really into programming and maybe I'll need help as well XD)!

[2022-06-03 23:52] pdurbin commented on #7
Thank you to @IlariaBelvedere for taking an interest in this issue, creating some sub-issues, and reviving the thread at https://groups.google.com/d/msg/dataverse-community/jqfxdU3e2FQ/qroo3eMvAAAJ !

By the way, here's a one liner for getting the counts per year:

`cat data/data.json | jq '.installations[].launch_year' -r | sort | uniq -c`

[code]

[2022-06-04 01:23] adam3smith commented on #7
I don't think the spreadsheet is still editable? I can comment only, which isn't super helpful for spreadsheets. QDR launched its Dataverse catalog in 2018

[2022-06-04 13:02] pdurbin commented on #7
@adam3smith I get paranoid about just anyone editing that spreadsheet. Please click "request access" and I'd be happy to let you in!

[2022-06-04 13:07] pdurbin commented on #7
In 42471d2 I just added a simple ASCII chart of installations per year at https://iqss.github.io/dataverse-installations/year.html

It looks like this:

[code]

Below the chart I'm listing the installations that we don't have a launch year for. Note that some of these have GitHub Issues already:

- #120
- #121
- #122
- #123
- #124

[code]

[2022-06-04 15:52] #123 closed

[2022-06-04 16:00] #120 closed

[2022-06-04 16:02] #121 closed

[2022-06-04 16:04] #122 closed

[2022-06-04 16:05] #124 closed

[2022-06-04 16:07] pdurbin commented on #124
@IlariaBelvedere yes, exactly. For this sub issue and the others we've opened, I went ahead and updated the map.

If you can continue to create sub issues, I'd appreciate it!

Also,  check out the ASCII art I added: https://github.com/IQSS/dataverse-installations/issues/7#issuecomment-1146606522 😄

[2022-06-04 16:11] IlariaBelvedere opened #125 "Missing launch year University of Manitoba"
From what I could find, the University of Manitoba upload a UofM Dataverse General Terms of Use in 2017: https://search.lib.umanitoba.ca/permalink/01UMB_INST/1p55dqn/alma99149344879101651. Then, it seems that there was some testing in the same year: https://www.arcgis.com/home/item.html?id=297579a521da4c5fb8c02ac0aefe5d11.
Guides from the site lead to 2018 (https://libguides.lib.umanitoba.ca/c.php

[2022-06-04 16:12] IlariaBelvedere commented on #124
Sure, I'll do what I can :)

[2022-06-04 16:19] IlariaBelvedere opened #126 "Missing launch year Uwi dataverse"
From this thread: https://groups.google.com/g/dataverse-community/c/W1fxLwZDU4U, and other documents: https://repositorio.cepal.org/bitstream/handle/11362/41851/LCCAR2017_4Rev1_en.pdf?sequence=1&isAllowed=y, https://discovery.ucl.ac.uk/id/eprint/1546537/1/7_Learn_CS7_39-41.pdf, the year was 2017.

[2022-06-04 16:26] IlariaBelvedere opened #127 "Missing launch year UCLA DATAVERSE"
From this thread, the year is 2019: https://groups.google.com/g/dataverse-community/c/_1qOQqQRXEA/m/-7SmtE_jAQAJ.

[2022-06-04 16:28] IlariaBelvedere opened #128 "Missing launch year Repositorio de Datos de Investigación Universidad del Rosario"
From this thread, the year is 2019: https://groups.google.com/g/dataverse-community/c/tcuAg7ZN2Cw/m/wyztqj27CQAJ

[2022-06-04 16:29] IlariaBelvedere opened #129 "Missing launch year Repositório de Dados de Pesquisa da UFABC"
2018: https://groups.google.com/g/dataverse-community/c/urEFcgCtt2s/m/ylLHp5gdAQAJ

[2022-06-04 16:30] IlariaBelvedere opened #130 "Missing launch year Repositório de Dados de Pesquisa do ILEEL - Research data repository of Institute of Linguistics and Literature"
2019: https://groups.google.com/g/dataverse-community/c/tk7W2mcyMzw/m/UpMtHVrtBQAJ

[2022-06-04 16:31] IlariaBelvedere opened #131 "Missing launch year Dataverse Pontificia Universidad Católica del Perú (PUCP)"
2019: https://groups.google.com/g/dataverse-community/c/fBH1VKhtpgo/m/ENGpvQdyBQAJ.

[2022-06-04 16:32] IlariaBelvedere opened #132 "Missing launch year NIE Data Repository"
2019: https://groups.google.com/g/dataverse-community/c/_1qOQqQRXEA/m/-7SmtE_jAQAJ

[2022-06-04 16:33] IlariaBelvedere opened #133 "Missing launch year MELDATA"
2019: https://groups.google.com/g/dataverse-community/c/_1qOQqQRXEA/m/-7SmtE_jAQAJ

[2022-06-04 16:35] IlariaBelvedere opened #134 "Missing launch year LIPI Dataverse"
2018: https://groups.google.com/g/dataverse-community/c/AlZHT6tQM3U/m/0RrMUOv1AgAJ

[2022-06-04 16:37] IlariaBelvedere opened #135 "Missing launch year International Potato Center Dataverse"
2019: https://groups.google.com/g/dataverse-community/c/YLlTb0p4M_w/m/JjnsxoH7AQAJ

[2022-06-04 16:38] IlariaBelvedere opened #136 "Missing launch year Ifsttar Dataverse"
2019: https://groups.google.com/g/dataverse-community/c/YLlTb0p4M_w/m/JjnsxoH7AQAJ

[2022-06-04 16:39] IlariaBelvedere opened #137 "Missing launch year ICWSM"
2018: https://groups.google.com/g/dataverse-community/c/KsWidNafIT8/m/MEIyG2b0AAAJ

[2022-06-04 16:41] IlariaBelvedere opened #138 "Missing launch year IBICT"
2015: https://groups.google.com/g/dataverse-community/c/T09C4jOngp4/m/uOXy33HQDQAJ

[2022-06-04 16:43] IlariaBelvedere opened #139 "Missing launch year DR-NTU"
2017: https://groups.google.com/g/dataverse-community/c/RjJjN1zFQFA/m/Hy0p3cSgAQAJ

[2022-06-04 16:44] IlariaBelvedere opened #140 "Missing launch year Data Suds"
2019: https://groups.google.com/g/dataverse-community/c/fBH1VKhtpgo/m/ENGpvQdyBQAJ

[2022-06-04 16:45] IlariaBelvedere opened #141 "Missing launch year Botswana Harvard Data"
2019: https://groups.google.com/g/dataverse-community/c/QRHGDwOv3WE/m/PZGc6mCgFQAJ

[2022-06-04 21:23] #125 closed

[2022-06-04 21:24] #126 closed

[2022-06-04 21:26] #127 closed

[2022-06-04 21:29] #128 closed

[2022-06-04 21:30] #129 closed

[2022-06-04 21:32] #130 closed

[2022-06-04 21:33] #131 closed

[2022-06-04 21:34] #132 closed

[2022-06-04 21:36] #133 closed

[2022-06-04 21:38] #134 closed

[2022-06-04 21:39] #135 closed

[2022-06-04 21:40] #136 closed

[2022-06-04 21:41] #137 closed

[2022-06-04 21:42] #138 closed

[2022-06-04 21:43] #139 closed

[2022-06-04 21:44] #140 closed

[2022-06-04 21:45] #141 closed

[2022-06-04 21:47] pdurbin commented on #7
Thank you @IlariaBelvedere for all the research! Here's how https://iqss.github.io/dataverse-installations/year.html looks now!

[code]

[2022-06-05 01:43] pdurbin commented on #7
Ok! I just did some research and added launch years for the last few installations. Here's how https://iqss.github.io/dataverse-installations/year.html looks now:

[code]

2019 was a big year for us! 😄

I guess next we should think about what the definition of done is for this issue. 😄

[2022-06-05 01:56] pdurbin commented on #7
Here's a quick graph from Google Spreadsheets showing the cumulative number or running total of installations.

<img width="980" alt="Screen Shot 2022-06-04 at 9 53 14 PM" src="https://user-images.githubusercontent.com/21006/172031574-3b62fcbc-f61e-49c9-b69d-d4f1e21f8524.png">

The formula is from https://www.statology.org/google-sheets-cumulative-percentage/

This is how I get the year and count:

[2022-06-05 08:30] IlariaBelvedere commented on #7
Hello, thank you for the graph? Could I use it in my thesis (with attribution)?

[2022-06-05 11:12] pdurbin commented on #7
@IlariaBelvedere absolutely! Please go ahead. And thanks again for helping so much!

I actually added a second ASCII art graph (over time) last night to https://iqss.github.io/dataverse-installations/year.html

Here's how they look as of this writing:

[code]

[2022-06-05 11:37] IlariaBelvedere commented on #7
Thank you very much for the graphs, it is satisfying to look at the statistics over the years :) And thank you for thanking me ahahha, I am happy if I can help :)
I think there are other things that could be done maybe. 1) A few description of the installations could be filled, to complete the picture XD 2) Some of the installations could no longer be active, is there a way to find out about the m

[2022-06-06 21:17] pdurbin commented on #7
@IlariaBelvedere Yes, I also noticed that some descriptions are missing. If you feel like creating new issues and reaching out to the installation contacts, please go ahead.

Probably. The way to communicate with an installation is to look at `contact_email` in the spreadsheet mentioned in the README. Here's a direct link: https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1r

[2022-06-06 21:24] pdurbin commented on #7
In 650911f I put together some charts at https://iqss.github.io/dataverse-installations/charts.html

Here's how they look:

![by-year-and-over-time](https://user-images.githubusercontent.com/21006/172251289-6155728e-76fe-48f6-83f4-316edda389dd.png)

That `charts.html` page isn't linked from anywhere. I'm not sure if it should be a standalone page or not.

https://iqss.github.io/dataverse-installat

[2022-06-07 14:16] IlariaBelvedere commented on #7
Thank you @pdurbin! I am going to try to contact them and I will let you know about the results. :)

[2022-06-07 15:12] pdurbin commented on #7
@IlariaBelvedere before we start filling in missing descriptions, can you please create a new issue for this? Yes, copying a reasonable description from an official site sounds fine.

A new issue for the Abacus email too, please! 😄

[2022-06-07 15:14] pdurbin commented on #7
I announced the new charts at https://groups.google.com/g/dataverse-community/c/jqfxdU3e2FQ/m/cgRYbH4nAQAJ and https://dataversecommunity.slack.com/archives/C5V66TV6Y/p1654551361864179

I think the last thing to do for this issue is link to https://iqss.github.io/dataverse-installations/charts.html from somewhere. But where?

[2022-06-07 15:20] IlariaBelvedere opened #142 "Missing Dataverse installation descriptions"
If I am not wrong, these Dataverse installations descriptions need to be filled:

Dartmouth Dataverse
DataSpace@HKUST
FGV Dataverse
Repositório de Dados de Pesquisa da UFABC
Repositórios Piloto da Rede Nacional de Ensino e Pesquisa
UCLA Dataverse
University of Manitoba Dataverse
World Agroforestry - Research Data Repository

Descriptions can be found on the official websites, so I can post them he

[2022-06-07 15:23] IlariaBelvedere opened #143 "Dataverse installations contact emails updating"
Some data installations contact emails need to be updated as well, for example the Abacus one does not work anymore. Several others are missing:

IFDC Dataverse
VTTI
UWI
RSU Dataverse
IBICT
Botswana Harvard Data
Repositório de Dados de Pesquisa do ILEEL
Ifsttar Dataverse
ICWSM
Institute of Russian Literature Dataverse
Dartmouth Dataverse
DataSpace@HKUST
Repositórios Piloto da Rede Nacional de Ensi

[2022-06-07 15:36] linsherpa opened #144 "Add my Dataverse repository: KEEN Dataverse"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
KEEN Data Management Platform

**Homepage URL of repository:**
https://keen.zih.tu-dresden.de/

**Location of the repository (lat/long preferably or city or street address):**
Chemnitzer Straße 46 b
01187 Dresden, Germany

*The following isn't required but is nice to have:*

**A short descript

[2022-06-07 15:37] pdurbin commented on #143
I just thought I'd mention that @jggautier was working on email addresses recently in this issue:

- #118

Yes, I guess it's better to have an email already listed on a website than nothing!

@IlariaBelvedere Please create a new issue about former installations, if necessary. I hope they're all still active! Thanks!

[2022-06-07 15:39] IlariaBelvedere commented on #143
@jggautier
Sorry, I did not know you are working on these!
@pdurbin
So do I :)

[2022-06-07 16:37] jggautier commented on #143
Hi @IlariaBelvedere. I wasn't really working on them. @philippconzett added emails to the spreadsheet and I just created that issue at #118 so that those additions would be assigned to a GitHub issue when I ran the Python update script.

I think @philippconzett sent emails to those addresses so maybe he would have more info too about which email addresses don't work anymore?

[2022-06-08 09:10] philippconzett commented on #143
I don't have any more info about this. I updated some email addresses in the spreadsheet. For installation where I couldn't find any contact information, I used the contact form provided on the front page of the installation.

[2022-06-08 13:12] #144 closed

[2022-06-08 13:15] jggautier commented on #144
Hi @linsherpa. The KEEN Data Management Platform appears on the map at dataverse.org now. Thanks!

[2022-06-13 14:13] IlariaBelvedere opened #145 "What to do with an installation we find that isn't on the map?"
Hello,

checking on re3data I found a few Dataverse installations that are not listed on the map (as @pdurbin said, being on the map isn't mandatory and some of them could be in their demo phase).
What do we do with them? Could it be interesting to add a new sheet on the file about installations but specifying they are not on the map (for several reasons which maybe it is not right to explicitate)

[2022-06-13 14:24] shlake commented on #145
@IlariaBelvedere
Not sure about all of the RE3Data Dataverse entries you found, but this one is actually a sub dataverse (collection) on Harvard’s
https://www.re3data.org/repository/r3d100010713

This one is as well:
https://www.re3data.org/repository/r3d100010949

They are not separate installations.

[2022-06-15 14:40] pdurbin opened #146 "List issues on each installation's project board"
In 2019 at https://groups.google.com/g/dataverse-community/c/z8ugn2KzNSc/m/zt7COeRYBQAJ I kicked of a thread based on a crazy idea of mine:

What if every installation of Dataverse created a project board as a way of showing which issues are important to them?

The next step is to aggregate these issues into a report so we can see which are the "hot" issues. I just created such a report at https:/

[2022-06-15 14:42] #146 closed

[2022-06-17 13:02] gwendoux opened #147 "Project board request for Cirad Dataverse"
**Name of installation:**
Cirad Dataverse

**URL of installation:**
https://dataverse.cirad.fr

[2022-06-23 19:38] pdurbin commented on #147
@gwendoux I created a new board for Cirad at https://github.com/orgs/IQSS/projects/29

I made you "Admin" and you should be able to add additional people:

![Screen Shot 2022-06-23 at 3 30 27 PM](https://user-images.githubusercontent.com/21006/175382598-18dcc23c-ebcb-42d0-b64a-c946a76ff34e.png)

In 29458ed I added your new board to the map:

![Screen Shot 2022-06-23 at 3 35 40 PM](https://user-ima

[2022-06-23 19:38] #147 closed

[2022-06-29 14:53] jggautier opened #149 "Updating some info of listed Dataverse repositories"
Some repository admins left updated info about their repositories on the [Crowdsourced information about Dataverse installations](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo). I'm pushing those updates to the JSOn document.

[2022-06-29 14:53] #149 closed

[2022-06-29 14:56] jggautier opened #150 "Add my Dataverse repository: Redape – Repositório de Dados de Pesquisa da Embrapa"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
Redape – Repositório de Dados de Pesquisa da Embrapa,

**Homepage URL of repository:**
https://www.redape.dados.embrapa.br

**Location of the repository (lat/long preferably or city or street address):**
To be determined

**Year when repository started operating:**

*The following isn't requir

[2022-06-29 14:56] jggautier opened #151 "Add my Dataverse repository: Centro Brasileiro de Pesquisas Físicas - CBPF"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
Centro Brasileiro de Pesquisas Físicas - CBPF

**Homepage URL of repository:**
https://dataverse.cbpf.br

**Location of the repository (lat/long preferably or city or street address):**
-22.954204, -43.1734987

**Year when repository started operating:**
2021

*The following isn't required but

[2022-06-29 15:08] #151 closed

[2022-07-06 16:47] jggautier commented on #145
(The [previous comment](https://github.com/IQSS/dataverse-installations/issues/145#issuecomment-1153998445) was somehow duplicated so I delete the second one.)

Shouldn't we try to contact each installation to see if they'd like to be added?

[2022-07-06 16:54] jggautier commented on #150
I used https://www.redape.dados.embrapa.br but once the link appears on the map, instead of leading to the repository it leads to a "This site can’t be reached" page. I think the code that adds the link to the map adds http, such as http://redape.dados.embrapa.br. Many sites automatically change to https (http://demo.dataverse.org) but this site doesn't.

The second address, www.embrapa.br/redape,

[2022-07-06 16:55] #150 closed

[2022-07-07 17:55] jggautier opened #152 "Update name and description of Repositório Institucional de Dados para Pesquisa da Fiocruz"
New name is Arca Dados and the description should be:

"Arca Dados is Fiocruz's official repository to archive, publish, disseminate, preserve and share digital research data produced by the Fiocruz community or in partnership with other research institutes or bodies, with the objective of promoting new research, ensuring the reproducibility or replicability of existing research, and promoting Ope

[2022-07-07 17:57] #152 closed

[2022-07-11 15:20] PLoboC opened #153 "Add my Dataverse repository: DUnAs"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
DUnAs

**Homepage URL of repository:**
https://dunas.ua.pt

**Location of the repository (lat/long preferably; or street address; or city, country):**
40.63078158301697, -8.657462548187752

**Year when repository started operating:**
2022

*The following isn't required but is nice to have:*

*

[2022-07-11 15:21] PLoboC opened #154 "Add my Dataverse repository: DUnAs"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
DUnAs

**Homepage URL of repository:**
https://dunas.ua.pt

**Location of the repository (lat/long preferably; or street address; or city, country):**
40.63078158301697, -8.657462548187752

**Year when repository started operating:**
2022

*The following isn't required but is nice to have:*

*

[2022-07-12 16:38] shlake commented on #154
Working on adding this to the crowdsourced doc.

[2022-07-12 16:44] shlake commented on #153
Duplicate to #154

[2022-07-12 16:54] #154 closed, assigned to nobody

[2022-07-13 18:23] pdurbin commented on #145
@IlariaBelvedere yes! Please feel free to email folks. Do you have Marion Wittenberg's address? She recently posted about a new installation here: https://groups.google.com/g/dataverse-community/c/7cUyLesUk-Q/m/7XM3UcirHAAJ

[2022-07-14 13:21] IlariaBelvedere commented on #145
I will try my best then :)
No, I haven't got her email address, do you?
Thanks,

Ilaria

Il 13 lug 2022 20:23, Philip Durbin ***@***.***> ha scritto:

@IlariaBelvedere<https://github.com/IlariaBelvedere> yes! Please feel free to email folks. Do you have Marion Wittenberg's address? She recently posted about a new installation here: https://groups.google.com/g/dataverse-community/c/7cUyLesUk-Q/m/7X

[2022-07-14 13:50] pdurbin commented on #145
@IlariaBelvedere yep, I just emailed her and cc'd you. Thanks!

[2022-08-02 15:18] pdurbin opened #156 "redape hostname"
I believe

[code]

...should have a different hostname: www.redape.dados.embrapa.br

That's the hostname that seems to be running Dataverse:

curl https://www.redape.dados.embrapa.br/api/info/version
{"status":"OK","data":{"version":"5.9","build":"750-fb24c87"}}

[2022-08-02 16:04] #156 closed

[2022-08-02 17:22] donsizemore opened #157 "Redape hostname doesn't resolve"
The Redape Dataverse hostname entry: https://github.com/IQSS/dataverse-installations/blob/eae1111d82d6812717d83fbb39fea827b470a37c/data/data.json#L955

Should likely be `www.redape.dados.embrapa.br` instead.

[2022-08-02 17:41] jggautier commented on #157
Is this a duplicate of https://github.com/IQSS/dataverse-installations/issues/156?

[2022-08-02 18:01] donsizemore commented on #157
Looks like it got resolved in between my noticing, and opening the issue (I promise I looked before opening this one).
In any case, yes.

[2022-08-02 18:01] #157 closed

[2022-08-03 20:48] nightowlaz opened #158 "Project board request for ASU Library Research Data Repository"
ASU Library Research Data Repository

https://dataverse.asu.edu

[2022-08-03 20:57] shlake commented on #158
@nightowlaz
Your Dataverse is on the map. What are you requesting? To edit/add information?

[2022-08-03 21:03] pdurbin commented on #158
@nightowlaz sure! Here you go: https://github.com/orgs/IQSS/projects/30

I also added it to the map:

![Screen Shot 2022-08-03 at 5 01 19 PM](https://user-images.githubusercontent.com/21006/182711105-876469bd-37ad-4021-9349-7e1df3300009.png)

I haven't run an aggregation report since the community meeting in June but here's the most recent one: https://docs.google.com/spreadsheets/d/1Dx-MN-gyCWCo2

[2022-08-04 12:31] #158 closed

[2022-08-12 14:40] RDA-UNR opened #159 "Add my Dataverse repository: Repositorio de Datos Académicos RDA-UNR"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository: Repositorio de Datos Académicos RDA-UNR**

**Homepage URL of repository: https://dataverse.unr.edu.ar/**

**Location of the repository (lat/long preferably; or street address; or city, country): -32.95019324385094, -60.63599686996669**

**Year when repository started operating: 2022**

*The foll

[2022-08-12 18:57] #159 closed

[2022-08-12 18:57] jggautier commented on #159
Thanks! The repository should show up soon on the map on https://dataverse.org

[2022-08-17 13:46] RDA-UNR commented on #159
Thank you!!!

De: "Julian Gautier" ***@***.***>
Para: "IQSS/dataverse-installations" ***@***.***>
CC: "RDA-UNR" ***@***.***>, "Author" ***@***.***>
Enviados: Viernes, 12 de Agosto 2022 15:58:09
Asunto: Re: [IQSS/dataverse-installations] Add my Dataverse repository: Repositorio de Datos Académicos RDA-UNR (Issue #159)

Thanks! The repository should show up soon on the map on [ https://dataverse.org

[2022-08-25 07:48] Abalduin-adm opened #160 "Add my Dataverse repository: TRR170-DB"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
 TRR170-DB

**Homepage URL of repository:**
https://planetary-data-portal.org/

**Location of the repository (lat/long preferably; or street address; or city, country):**
52.426911387040704, 13.356574494013994 , or Malteserstr. 74-100, 10785 Berlin, Germany

**Year when repository started oper

[2022-08-25 18:55] jggautier commented on #160
Thanks @Abalduin-adm! The repository should appear on the map today.

In the re3data entry at https://www.re3data.org/repository/r3d100013520, I didn't see a link to a [Core Trust Seal](https://www.coretrustseal.org/) application. Has the repository applied to that certification?

[2022-08-25 19:04] pdurbin commented on #145
@IlariaBelvedere your outreach efforts are working! Thanks! Check out this issue:

- #160

[2022-08-30 13:24] WittenbergM opened #161 "Add my Dataverse repository: {Data Station Archaeology}"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:Data Station Archaeology**

**Homepage URL of repository:https://dans.knaw.nl/nl/data-stations/archaeology/**

**Location of the repository: (Anna van Saksenlaan 51, 2593 HW The Hague, The Netherlands)**

**Year when repository started operating:2022**

*The following isn't required but is nice t

[2022-08-31 14:51] jggautier commented on #161
Hi @WittenbergM. Thanks for letting us know about this repository.

Should the homepage be https://archaeology.datastations.nl, instead? I think the Dataverse metrics page at https://dataverse.org/metrics uses the homepage URL so that it can use the Dataverse APIs to get metrics from different Dataverse installations. And I can't use the APIs with https://dans.knaw.nl/nl/data-stations/archaeology.

[2022-08-31 19:01] pdurbin commented on #161
https://dans.knaw.nl/nl/data-stations/archaeology/ should go in the `about_url` column in the spreadsheet. This URL becomes the "More..." link in the map. Here's an example from DataverseNL:

![Screen Shot 2022-08-31 at 2 55 45 PM](https://user-images.githubusercontent.com/21006/187760520-6eab097c-3a38-4cf7-bfd4-e74e9950560d.png)

And yes, the hostname should be archaeology.datastations.nl so we c

[2022-08-31 19:12] jggautier commented on #161
@pdurbin, are you thinking that people who want to visit the repository should click on the "More" link, such as:

![more_link](https://user-images.githubusercontent.com/18374574/187762920-2f895f4c-2b03-4583-823b-b930852b6c68.png)

and not the first link in the popup that's the name of the repository, such as:

![repository_link](https://user-images.githubusercontent.com/18374574/187763011-11556cc

[2022-08-31 20:47] pdurbin commented on #161
@jggautier this is where the links go:

![187760520-6eab097c-3a38-4cf7-bfd4-e74e9950560d](https://user-images.githubusercontent.com/21006/187778932-75a69ccc-fea3-41d0-b5e3-04b81ba8920b.png)

[2022-08-31 21:24] jggautier commented on #161
Thanks, yes that's how we mean it to work.

I think it would be helpful to learn where @WittenbergM (and perhaps the admins of other repositories) expect people to be taken when they click on the first link, what you've labelled "installation."

What do you think @WittenbergM?

[2022-09-01 15:50] 4tikhonov commented on #79
I think it's in general not bad idea to have an indication like "platform" about how Dataverse is being deployed.

[2022-09-01 16:17] jggautier commented on #161
@4tikhonov wrote in a Slack conversation that we should use https://archaeology.datastations.nl/ as the "Homepage URL of repository". That's where people will go when they click on the "Data Station Archaeology" link on the Dataverse map.

[2022-09-01 16:18] #161 closed

[2022-09-01 18:39] jggautier commented on #160
Hi @Abalduin-adm. I'm going to mark this issue resolved. Please feel free to re-open if you'd like to add a link to a successful Core Trust Seal application or if the re3data entry at https://www.re3data.org/repository/r3d100013520 does include a link to a successful Core Trust Seal application and I just missed it.

[2022-09-01 18:39] #160 closed

[2022-09-05 10:55] WittenbergM commented on #161
This is fine with me

Best, Marion

From: Julian Gautier ***@***.***>
Reply to: IQSS/dataverse-installations ***@***.***>
Date: Thursday, 1 September 2022 at 18:17
To: IQSS/dataverse-installations ***@***.***>
Cc: Marion Wittenberg ***@***.***>, Mention ***@***.***>
Subject: Re: [IQSS/dataverse-installations] Add my Dataverse repository: {Data Station Archaeology} (Issue #161)

@4tikhonov wrote in

[2022-09-05 11:05] WittenbergM commented on #161
Hi Julian,

I think the root of the installation is fine.

In the case of our archeology datas tation: https://archaeology.datastations.nl/

Best, Marion

From: Julian Gautier ***@***.***>
Reply to: IQSS/dataverse-installations ***@***.***>
Date: Wednesday, 31 August 2022 at 23:25
To: IQSS/dataverse-installations ***@***.***>
Cc: Marion Wittenberg ***@***.***>, Mention ***@***.***>
Subject: Re: [I

[2022-09-05 11:34] WittenbergM commented on #161
Hi Philipp,

I am sorry to give you the wrong url

The right one is https://archaeology.datastations.nl/

The link on the map doesn’t work.

Because you used http://https//archaeology.datastations.nl

A direct email address is ***@***.***

Best, Marion

From: Philip Durbin ***@***.***>
Reply to: IQSS/dataverse-installations ***@***.***>
Date: Wednesday, 31 August 2022 at 21:01
To: IQSS/dataverse-i

[2022-09-05 11:37] WittenbergM commented on #161
Hi Julian,

Yes, please use https://archaeology.datastations.nl

Best, Marion

From: Julian Gautier ***@***.***>
Reply to: IQSS/dataverse-installations ***@***.***>
Date: Wednesday, 31 August 2022 at 16:52
To: IQSS/dataverse-installations ***@***.***>
Cc: Marion Wittenberg ***@***.***>, Mention ***@***.***>
Subject: Re: [IQSS/dataverse-installations] Add my Dataverse repository: {Data Station Arch

[2022-09-07 10:53] pdurbin commented on #79
@donsizemore how do you feel about "platform" instead of "provider"?

I guess I'm ok with a free text field for now.

I'm not sure where to show it on the map, if at all. I have dreams of adding a "hacker mode" to the map to show details about deployment. 😄

[2022-09-07 15:56] jggautier commented on #145
I mentioned contacting these repositories and meant that this could be done instead of keeping an internal list of installations that aren't on the map. I'm curious why we'd want to keep a list of Dataverse installations that aren't on the map? Here are some reasons I can think of:

- So that we can consider these installations when we review the different types of Dataverse installations, such as

[2022-09-09 16:53] jggautier opened #163 "Update Data INRAE, now Recherche Data Gouv"
@ DS-INRA wrote in the pull request at https://github.com/IQSS/dataverse-installations/pull/162 that since "07/08 Data INRAE is now Recherche Data Gouv, a national data repository"

[2022-09-09 16:56] #163 closed

[2022-09-15 16:07] sindribaldur opened #164 "Add my Dataverse repository: {DATICE}"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
DATICE

**Homepage URL of repository:**
[DATICE](https://dataverse.rhi.hi.is/)

**Location of the repository (lat/long preferably; or street address; or city, country):**
64.14042,-21.9493

**Year when repository started operating:**
2020

*The following isn't required but is nice to have:*

*

[2022-09-15 17:11] shlake commented on #164
@jggautier my turn, I got this one.

[2022-09-15 17:48] #164 closed

[2022-09-15 17:55] pdurbin commented on #145
Another one! Thanks @IlariaBelvedere for reaching out to them! And thanks @shlake for adding it. 🎉

- #164

@jggautier I think of it as a sales funnel, I guess. Even though Dataverse is free as in beer. Or maybe conversion is the right term? Conversion rates? You want people to buy something. Or in our case, you want them to opt in to being on the map, to join our community. So it makes sense to c

[2022-09-15 20:28] jggautier commented on #145
I forgot that on [the spreadsheet](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo/edit#gid=0) you also added a "skip" column to record info about installations that didn't want to be on the map right away. So maybe we could add installation info to the spreadsheet and in the skip column indicate with a "yes" or "true" or something else that the installation sho

[2022-09-26 21:40] jggautier opened #166 "Edit description of Dataverse e-cienciaDatos"
An admin of the Dataverse e-cienciaDatos asked that its description and "about URL" be updated.

I've updated the description in the [Crowdsourced information about Dataverse installations](https://docs.google.com/spreadsheets/d/1bfsw7gnHlHerLXuk7YprUT68liHfcaMxs1rFciA-mEo/edit#gid=0).

Waiting on clarification about the "about_url" column and I can update that afterwards.

[2022-09-27 16:11] #166 closed

[2022-09-27 17:53] jggautier opened #167 "Add "More..." link for Dataverse e-cienciaDatos"
See https://github.com/IQSS/dataverse-installations/issues/166

[2022-09-27 17:54] #167 closed

[2022-10-05 19:31] jggautier opened #168 "Remove UWI from map"
The repository's website (http://dataverse.sta.uwi.edu) hasn't been loading for a while and all contacts we've tried are unresponsive.

[2022-10-05 19:33] #168 closed

[2022-10-13 13:56] jggautier opened #169 "On Dataverse map, fix Recherche Data Gouv's "more..." link"
<img width="380" alt="Screen Shot 2022-10-13 at 9 48 43 AM" src="https://user-images.githubusercontent.com/18374574/195615039-bb43c7fe-3823-4f0b-80e0-43bcaef79ef2.png">

The "More..." link at the end of the installation's description points to https://iqss.github.io/dataverse-installations/recherche.data.gouv.fr instead of https://recherche.data.gouv.fr.

In the [Crowdsourced information about Dat

[2022-10-13 13:57] #169 closed

[2022-10-13 13:59] jggautier commented on #169
Cool, that worked. The urls in the about_url column seem to need to include the http or https.

[2022-10-19 14:47] jggautier opened #170 "Add my Dataverse repository: Repositório Brasileiro Livre para Dados Abertos do Solo – FEBR"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
Repositório Brasileiro Livre para Dados Abertos do Solo – FEBR

**Homepage URL of repository:**
http://dataverse.mapbiomas.org

**Location of the repository (lat/long preferably; or street address; or city, country):**
Santa Helena, Paraná, CEP: 85892-000, Brasil

**Year when repository starte

[2022-10-19 14:51] #170 closed

[2022-11-08 08:44] claudiodsf opened #171 "Add my Dataverse repository: IPGP Research Collection"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
IPGP Research Collection

**Homepage URL of repository:**
https://dataverse.ipgp.fr

**Location of the repository (lat/long preferably; or street address; or city, country):**
 48.844925, 2.356274

**Year when repository started operating:**
2022

*The following isn't required but is nice to h

[2022-11-09 16:36] jggautier commented on #171
Hi @claudiodsf. The repository is on the map at dataverse.org now. Thanks!

[2022-11-10 07:33] claudiodsf commented on #171
Thanks Julian!

[2022-11-21 09:59] philip-muench opened #172 "Add my Dataverse repository: osnaData"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**
osnaData

**Homepage URL of repository:**
https://osnadata.ub.uni-osnabrueck.de

**Location of the repository (lat/long preferably; or street address; or city, country):**
Osnabrück University Library
Alte Münze 16, 49074 Osnabrück, Germany
52.27329055376962, 8.045669207412484

**Year when rep

[2022-11-21 16:26] #172 closed

[2022-11-22 07:57] philip-muench commented on #172
Thanks to you as well!

[2022-11-29 15:32] ElvisAravena opened #173 "Add my Dataverse repository: Repositorio de datos de la Universidad de Concepción"
*All information shared will be displayed on the map unless otherwise indicated*

**Name of repository:**

Repositorio de datos de la Universidad de Concepción

**Homepage URL of repository:**
https://datav.udec.cl

**Location of the repository (lat/long preferably; or street address; or city, country):**
-36.832267682667116, -73.03503216931071
Barrio Universitario S/N
Concepción
Chile

**Year whe

[2022-11-29 16:21] jggautier commented on #173
Thanks for the info @ElvisAravena! We'll get this added as soon as possible, probably today or tomorrow.

[2022-11-30 17:24] #173 closed

[2022-11-30 17:25] jggautier commented on #173
Hi @ElvisAravena. Repositorio de datos de la Universidad de Concepción should appear on the map at dataverse.org today, and eventually we'll attempt to add information about it to the metrics page at https://dataverse.org/metrics

[2022-11-30 19:36] ElvisAravena commented on #173
Thank you very much Julian.